button,
.button {
  background: var(--color-primary-dark);
  color: var(--color-primary);
  border: 0;
  padding: .5rem 1rem;
  line-height: 2rem;
  font-family: "Jura", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  text-shadow: var(--text-shadow);
  font-size: inherit;
  outline: none;
}

button:disabled:not(.button--active),
.button.button--disabled:not(.button--active) {
  opacity: 0.25;
}

button.button--active,
button:active:not([disabled]),
.button.button--active,
.button:active:not(.button--disabled) {
  background: var(--color-primary);
  color: var(--color-primary-dark);
  text-shadow: none;
}

button:hover:not([disabled]):not(.button--active),
button:focus:not([disabled]):not(.button--active),
.button:hover:not(.button--disabled):not(.button--active),
.button:focus:not(.button--disabled):not(.button--active) {
  background: var(--color-primary);
  color: var(--color-primary-dark);
  text-shadow: none;
}

button.button--icon,
.button.button--icon {
  position: relative;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  min-width: initial;
  padding: 0;
}

button.button--icon .icon,
.button.button--icon .icon {
  font-size: 1.5rem;
  line-height: 3rem;
}

button.button--transparent ,
.button.button--transparent {
  background: none;
}

button.button--secondary,
.button.button--secondary {
  background: var(--color-secondary-dark);
  color: var(--color-secondary);
}

button.button--active.button--secondary,
button.button--secondary:active:not([disabled]),
.button.button--active.button--secondary,
.button.button--secondary:active:not(.button--disabled) {
  background: var(--color-secondary);
  color: var(--color-secondary-dark);
}

button.button--secondary:hover:not([disabled]):not(.button--active),
button.button--secondary:focus:not([disabled]):not(.button--active),
.button.button--secondary:hover:not(.button--disabled):not(.button--active),
.button.button--secondary:focus:not(.button--disabled):not(.button--active) {
  background: var(--color-secondary);
  color: var(--color-secondary-dark);
}


.button__close-button,
button.button__close-button {
  position: absolute;
  display: block;
  right: .5rem;
  top: .5rem;
  text-align: center;
}