button,
.button {
  background: var(--dark-primary-color);
  color: var(--primary-color);
  border: 0;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Jura", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  text-shadow: var(--text-shadow);
}

button:disabled,
.button.button--disabled {
  opacity: 0.25;
}

button.button--active,
button:hover:not([disabled]),
button:focus:not([disabled]),
button:active:not([disabled]),
.button.button--active,
.button:hover:not(.button--disabled):not([disabled]),
.button:focus:not(.button--disabled):not([disabled]),
.button:active:not(.button--disabled):not([disabled]) {
  background: var(--primary-color);
  color: var(--dark-primary-color);
}

button.button--icon,
.button.button--icon {
  position: relative;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  min-width: initial;
  padding: 0;
}

button.button--icon > *,
.button.button--icon > * {
  font-size: 2rem;
  line-height: 3rem;
}

button.button--transparent ,
.button.button--transparent {
  background: none;
}
