.button-group {
  display: flex;
  gap: .25rem;
}

.button-group button {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  min-width: initial;
}

.button-group button {
  background: var(--darkest-primary-color);
  color: var(--primary-color);
}

.button-group button:hover:not(.active):not([disabled]),
.button-group button:focus:not(.active):not([disabled]),
.button-group button:active:not(.active):not([disabled]) {
  background: var(--darkest-secondary-color);
  color: var(--secondary-color);
  text-shadow: var(--text-shadow);
  --icon-color: var(--darkest-secondary-color);
}

.button-group button.active {
  background: var(--button-active-color);
  color: var(--darkest-primary-color);
  --icon-color: var(--darkest-primary-color);
}