button,
.button {
  background: var(--dark-primary-color);
  color: var(--primary-color);
  border: 0;
  padding: .5rem 1rem;
  line-height: 2rem;
  font-family: "Jura", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  text-shadow: var(--text-shadow);
  font-size: inherit;
}

button:disabled,
.button.button--disabled {
  opacity: 0.25;
}

button.button--active,
button:active:not([disabled]),
.button.button--active,
.button:active:not(.button--disabled) {
  background: var(--primary-color);
  color: var(--dark-primary-color);
}

button:hover:not([disabled]):not(.button--active),
button:focus:not([disabled]):not(.button--active),
.button:hover:not(.button--disabled):not(.button--active),
.button:focus:not(.button--disabled):not(.button--active) {
  background: var(--primary-color);
  color: var(--dark-primary-color);
}

button.button--icon,
.button.button--icon {
  position: relative;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  min-width: initial;
  padding: 0;
}

button.button--icon .icon,
.button.button--icon .icon {
  font-size: 1.5rem;
  line-height: 3rem;
}

button.button--transparent ,
.button.button--transparent {
  background: none;
}

button.button--secondary,
.button.button--secondary {
  background: var(--dark-secondary-color);
  color: var(--secondary-color);
}

button.button--active.button--secondary,
button.button--secondary:active:not([disabled]),
.button.button--active.button--secondary,
.button.button--secondary:active:not(.button--disabled) {
  background: var(--secondary-color);
  color: var(--dark-secondary-color);
}

button.button--secondary:hover:not([disabled]):not(.button--active),
button.button--secondary:focus:not([disabled]):not(.button--active),
.button.button--secondary:hover:not(.button--disabled):not(.button--active),
.button.button--secondary:focus:not(.button--disabled):not(.button--active) {
  background: var(--secondary-color);
  color: var(--dark-secondary-color);
}
