@font-face {font-family: "icarus-terminal";
  src: url('icarus-terminal.eot?t=1651246793346'); /* IE9*/
  src: url('icarus-terminal.eot?t=1651246793346#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icarus-terminal.woff2?t=1651246793346") format("woff2"),
  url("icarus-terminal.woff?t=1651246793346") format("woff"),
  url('icarus-terminal.ttf?t=1651246793346') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icarus-terminal.svg?t=1651246793346#icarus-terminal') format('svg'); /* iOS 4.1- */
}

[class^="icarus-terminal-"], [class*=" icarus-terminal-"] {
  font-family: 'icarus-terminal' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icarus-terminal-asteroid-base:before { content: "\ea01"; }
.icarus-terminal-atmosphere:before { content: "\ea02"; }
.icarus-terminal-cargo:before { content: "\ea03"; }
.icarus-terminal-chevron-down:before { content: "\ea04"; }
.icarus-terminal-chevron-left:before { content: "\ea05"; }
.icarus-terminal-chevron-right:before { content: "\ea06"; }
.icarus-terminal-chevron-up:before { content: "\ea07"; }
.icarus-terminal-color-picker:before { content: "\ea08"; }
.icarus-terminal-copy:before { content: "\ea09"; }
.icarus-terminal-coriolis-starport:before { content: "\ea0a"; }
.icarus-terminal-credits:before { content: "\ea0b"; }
.icarus-terminal-download:before { content: "\ea0c"; }
.icarus-terminal-engineering:before { content: "\ea0d"; }
.icarus-terminal-exit:before { content: "\ea0e"; }
.icarus-terminal-fullscreen-window:before { content: "\ea0f"; }
.icarus-terminal-fullscreen:before { content: "\ea10"; }
.icarus-terminal-help:before { content: "\ea11"; }
.icarus-terminal-inventory:before { content: "\ea12"; }
.icarus-terminal-location-filled:before { content: "\ea13"; }
.icarus-terminal-location:before { content: "\ea14"; }
.icarus-terminal-logo:before { content: "\ea15"; }
.icarus-terminal-materials-encoded:before { content: "\ea16"; }
.icarus-terminal-materials-grade-1:before { content: "\ea17"; }
.icarus-terminal-materials-grade-2:before { content: "\ea18"; }
.icarus-terminal-materials-grade-3:before { content: "\ea19"; }
.icarus-terminal-materials-grade-4:before { content: "\ea1a"; }
.icarus-terminal-materials-grade-5:before { content: "\ea1b"; }
.icarus-terminal-materials-manufactured:before { content: "\ea1c"; }
.icarus-terminal-materials-raw:before { content: "\ea1d"; }
.icarus-terminal-materials-xeno:before { content: "\ea1e"; }
.icarus-terminal-materials:before { content: "\ea1f"; }
.icarus-terminal-megaship:before { content: "\ea20"; }
.icarus-terminal-notifications-disabled:before { content: "\ea21"; }
.icarus-terminal-notifications:before { content: "\ea22"; }
.icarus-terminal-ocellus-starport:before { content: "\ea23"; }
.icarus-terminal-orbis-starport:before { content: "\ea24"; }
.icarus-terminal-outpost:before { content: "\ea25"; }
.icarus-terminal-pin-window:before { content: "\ea26"; }
.icarus-terminal-planet-ammonia-based-life:before { content: "\ea27"; }
.icarus-terminal-planet-ammonia-world:before { content: "\ea28"; }
.icarus-terminal-planet-atmosphere:before { content: "\ea29"; }
.icarus-terminal-planet-earthlike:before { content: "\ea2a"; }
.icarus-terminal-planet-empty:before { content: "\ea2b"; }
.icarus-terminal-planet-gas-giant:before { content: "\ea2c"; }
.icarus-terminal-planet-high-metal-content:before { content: "\ea2d"; }
.icarus-terminal-planet-lander:before { content: "\ea2e"; }
.icarus-terminal-planet-life:before { content: "\ea2f"; }
.icarus-terminal-planet-ringed:before { content: "\ea30"; }
.icarus-terminal-planet-terraformable:before { content: "\ea31"; }
.icarus-terminal-planet-volcanic:before { content: "\ea32"; }
.icarus-terminal-planet-water-based-life:before { content: "\ea33"; }
.icarus-terminal-planet-water-world:before { content: "\ea34"; }
.icarus-terminal-planet:before { content: "\ea35"; }
.icarus-terminal-planetary-port-large:before { content: "\ea36"; }
.icarus-terminal-planetary-port:before { content: "\ea37"; }
.icarus-terminal-route:before { content: "\ea38"; }
.icarus-terminal-search:before { content: "\ea39"; }
.icarus-terminal-settlement:before { content: "\ea3a"; }
.icarus-terminal-ship:before { content: "\ea3b"; }
.icarus-terminal-signal:before { content: "\ea3c"; }
.icarus-terminal-star:before { content: "\ea3d"; }
.icarus-terminal-sync:before { content: "\ea3e"; }
.icarus-terminal-system-bodies:before { content: "\ea3f"; }
.icarus-terminal-system-orbits:before { content: "\ea40"; }
.icarus-terminal-table-index:before { content: "\ea41"; }
.icarus-terminal-table-inspector:before { content: "\ea42"; }
.icarus-terminal-table-rows:before { content: "\ea43"; }

$icarus-terminal-asteroid-base: "\ea01";
$icarus-terminal-atmosphere: "\ea02";
$icarus-terminal-cargo: "\ea03";
$icarus-terminal-chevron-down: "\ea04";
$icarus-terminal-chevron-left: "\ea05";
$icarus-terminal-chevron-right: "\ea06";
$icarus-terminal-chevron-up: "\ea07";
$icarus-terminal-color-picker: "\ea08";
$icarus-terminal-copy: "\ea09";
$icarus-terminal-coriolis-starport: "\ea0a";
$icarus-terminal-credits: "\ea0b";
$icarus-terminal-download: "\ea0c";
$icarus-terminal-engineering: "\ea0d";
$icarus-terminal-exit: "\ea0e";
$icarus-terminal-fullscreen-window: "\ea0f";
$icarus-terminal-fullscreen: "\ea10";
$icarus-terminal-help: "\ea11";
$icarus-terminal-inventory: "\ea12";
$icarus-terminal-location-filled: "\ea13";
$icarus-terminal-location: "\ea14";
$icarus-terminal-logo: "\ea15";
$icarus-terminal-materials-encoded: "\ea16";
$icarus-terminal-materials-grade-1: "\ea17";
$icarus-terminal-materials-grade-2: "\ea18";
$icarus-terminal-materials-grade-3: "\ea19";
$icarus-terminal-materials-grade-4: "\ea1a";
$icarus-terminal-materials-grade-5: "\ea1b";
$icarus-terminal-materials-manufactured: "\ea1c";
$icarus-terminal-materials-raw: "\ea1d";
$icarus-terminal-materials-xeno: "\ea1e";
$icarus-terminal-materials: "\ea1f";
$icarus-terminal-megaship: "\ea20";
$icarus-terminal-notifications-disabled: "\ea21";
$icarus-terminal-notifications: "\ea22";
$icarus-terminal-ocellus-starport: "\ea23";
$icarus-terminal-orbis-starport: "\ea24";
$icarus-terminal-outpost: "\ea25";
$icarus-terminal-pin-window: "\ea26";
$icarus-terminal-planet-ammonia-based-life: "\ea27";
$icarus-terminal-planet-ammonia-world: "\ea28";
$icarus-terminal-planet-atmosphere: "\ea29";
$icarus-terminal-planet-earthlike: "\ea2a";
$icarus-terminal-planet-empty: "\ea2b";
$icarus-terminal-planet-gas-giant: "\ea2c";
$icarus-terminal-planet-high-metal-content: "\ea2d";
$icarus-terminal-planet-lander: "\ea2e";
$icarus-terminal-planet-life: "\ea2f";
$icarus-terminal-planet-ringed: "\ea30";
$icarus-terminal-planet-terraformable: "\ea31";
$icarus-terminal-planet-volcanic: "\ea32";
$icarus-terminal-planet-water-based-life: "\ea33";
$icarus-terminal-planet-water-world: "\ea34";
$icarus-terminal-planet: "\ea35";
$icarus-terminal-planetary-port-large: "\ea36";
$icarus-terminal-planetary-port: "\ea37";
$icarus-terminal-route: "\ea38";
$icarus-terminal-search: "\ea39";
$icarus-terminal-settlement: "\ea3a";
$icarus-terminal-ship: "\ea3b";
$icarus-terminal-signal: "\ea3c";
$icarus-terminal-star: "\ea3d";
$icarus-terminal-sync: "\ea3e";
$icarus-terminal-system-bodies: "\ea3f";
$icarus-terminal-system-orbits: "\ea40";
$icarus-terminal-table-index: "\ea41";
$icarus-terminal-table-inspector: "\ea42";
$icarus-terminal-table-rows: "\ea43";

