@font-face {
  font-family: "icarus-terminal";
  src: url('icarus-terminal.eot?t=1637525019422'); /* IE9*/
  src: url('icarus-terminal.eot?t=1637525019422#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icarus-terminal.woff2?t=1637525019422") format("woff2"),
  url("icarus-terminal.woff?t=1637525019422") format("woff"),
  url('icarus-terminal.ttf?t=1637525019422') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icarus-terminal.svg?t=1637525019422#icarus-terminal') format('svg'); /* iOS 4.1- */
}

[class^="icarus-terminal-"], [class*=" icarus-terminal-"] {
  font-family: 'icarus-terminal' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icarus-terminal-adobe:before { content: "\ea01"; }
.icarus-terminal-git:before { content: "\ea02"; }
.icarus-terminal-stylelint:before { content: "\ea03"; }
