@font-face {font-family: "icarus-terminal";
  src: url('icarus-terminal.eot?t=1644601834251'); /* IE9*/
  src: url('icarus-terminal.eot?t=1644601834251#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icarus-terminal.woff2?t=1644601834251") format("woff2"),
  url("icarus-terminal.woff?t=1644601834251") format("woff"),
  url('icarus-terminal.ttf?t=1644601834251') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icarus-terminal.svg?t=1644601834251#icarus-terminal') format('svg'); /* iOS 4.1- */
}

[class^="icarus-terminal-"], [class*=" icarus-terminal-"] {
  font-family: 'icarus-terminal' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icarus-terminal-asteroid-base:before { content: "\ea01"; }
.icarus-terminal-cargo:before { content: "\ea02"; }
.icarus-terminal-chevron-down:before { content: "\ea03"; }
.icarus-terminal-chevron-left:before { content: "\ea04"; }
.icarus-terminal-chevron-right:before { content: "\ea05"; }
.icarus-terminal-chevron-up:before { content: "\ea06"; }
.icarus-terminal-color-picker:before { content: "\ea07"; }
.icarus-terminal-copy:before { content: "\ea08"; }
.icarus-terminal-coriolis-starport:before { content: "\ea09"; }
.icarus-terminal-credits:before { content: "\ea0a"; }
.icarus-terminal-download:before { content: "\ea0b"; }
.icarus-terminal-engineering:before { content: "\ea0c"; }
.icarus-terminal-exit:before { content: "\ea0d"; }
.icarus-terminal-fullscreen-window:before { content: "\ea0e"; }
.icarus-terminal-fullscreen:before { content: "\ea0f"; }
.icarus-terminal-icarus:before { content: "\ea10"; }
.icarus-terminal-materials-encoded:before { content: "\ea11"; }
.icarus-terminal-materials-grade-1:before { content: "\ea12"; }
.icarus-terminal-materials-grade-2:before { content: "\ea13"; }
.icarus-terminal-materials-grade-3:before { content: "\ea14"; }
.icarus-terminal-materials-grade-4:before { content: "\ea15"; }
.icarus-terminal-materials-grade-5:before { content: "\ea16"; }
.icarus-terminal-materials-manufactured:before { content: "\ea17"; }
.icarus-terminal-materials-raw:before { content: "\ea18"; }
.icarus-terminal-materials-xeno:before { content: "\ea19"; }
.icarus-terminal-materials:before { content: "\ea1a"; }
.icarus-terminal-megaship:before { content: "\ea1b"; }
.icarus-terminal-notifications-disabled:before { content: "\ea1c"; }
.icarus-terminal-notifications:before { content: "\ea1d"; }
.icarus-terminal-ocellus-starport:before { content: "\ea1e"; }
.icarus-terminal-orbis-starport:before { content: "\ea1f"; }
.icarus-terminal-outpost:before { content: "\ea20"; }
.icarus-terminal-pin-window:before { content: "\ea21"; }
.icarus-terminal-planet:before { content: "\ea22"; }
.icarus-terminal-planetary-port-large:before { content: "\ea23"; }
.icarus-terminal-planetary-port:before { content: "\ea24"; }
.icarus-terminal-route:before { content: "\ea25"; }
.icarus-terminal-search:before { content: "\ea26"; }
.icarus-terminal-settlement:before { content: "\ea27"; }
.icarus-terminal-ship:before { content: "\ea28"; }
.icarus-terminal-signal:before { content: "\ea29"; }
.icarus-terminal-star:before { content: "\ea2a"; }
.icarus-terminal-sync:before { content: "\ea2b"; }
.icarus-terminal-system-bodies:before { content: "\ea2c"; }
.icarus-terminal-system-orbits:before { content: "\ea2d"; }
.icarus-terminal-table-index:before { content: "\ea2e"; }
.icarus-terminal-table-inspector:before { content: "\ea2f"; }
.icarus-terminal-table-rows:before { content: "\ea30"; }

$icarus-terminal-asteroid-base: "\ea01";
$icarus-terminal-cargo: "\ea02";
$icarus-terminal-chevron-down: "\ea03";
$icarus-terminal-chevron-left: "\ea04";
$icarus-terminal-chevron-right: "\ea05";
$icarus-terminal-chevron-up: "\ea06";
$icarus-terminal-color-picker: "\ea07";
$icarus-terminal-copy: "\ea08";
$icarus-terminal-coriolis-starport: "\ea09";
$icarus-terminal-credits: "\ea0a";
$icarus-terminal-download: "\ea0b";
$icarus-terminal-engineering: "\ea0c";
$icarus-terminal-exit: "\ea0d";
$icarus-terminal-fullscreen-window: "\ea0e";
$icarus-terminal-fullscreen: "\ea0f";
$icarus-terminal-icarus: "\ea10";
$icarus-terminal-materials-encoded: "\ea11";
$icarus-terminal-materials-grade-1: "\ea12";
$icarus-terminal-materials-grade-2: "\ea13";
$icarus-terminal-materials-grade-3: "\ea14";
$icarus-terminal-materials-grade-4: "\ea15";
$icarus-terminal-materials-grade-5: "\ea16";
$icarus-terminal-materials-manufactured: "\ea17";
$icarus-terminal-materials-raw: "\ea18";
$icarus-terminal-materials-xeno: "\ea19";
$icarus-terminal-materials: "\ea1a";
$icarus-terminal-megaship: "\ea1b";
$icarus-terminal-notifications-disabled: "\ea1c";
$icarus-terminal-notifications: "\ea1d";
$icarus-terminal-ocellus-starport: "\ea1e";
$icarus-terminal-orbis-starport: "\ea1f";
$icarus-terminal-outpost: "\ea20";
$icarus-terminal-pin-window: "\ea21";
$icarus-terminal-planet: "\ea22";
$icarus-terminal-planetary-port-large: "\ea23";
$icarus-terminal-planetary-port: "\ea24";
$icarus-terminal-route: "\ea25";
$icarus-terminal-search: "\ea26";
$icarus-terminal-settlement: "\ea27";
$icarus-terminal-ship: "\ea28";
$icarus-terminal-signal: "\ea29";
$icarus-terminal-star: "\ea2a";
$icarus-terminal-sync: "\ea2b";
$icarus-terminal-system-bodies: "\ea2c";
$icarus-terminal-system-orbits: "\ea2d";
$icarus-terminal-table-index: "\ea2e";
$icarus-terminal-table-inspector: "\ea2f";
$icarus-terminal-table-rows: "\ea30";

