.secondary-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  bottom: 0;
  z-index: 10;
}

.secondary-navigation button.button--icon {
  width: 4rem;
  height: 4rem;
  margin-bottom: .5rem;
}

.secondary-navigation button.button--icon .icon {
  position: relative;
  top: .25rem;
  font-size: 2rem;
  line-height: 2.25rem;
}

.secondary-navigation__exit-button {
  position: absolute !important;
  z-index: 9;
  bottom: -.5rem;
  left: 0;
  margin: 0;
}

@media only screen and (orientation: portrait), (max-width: 599px) {
  .secondary-navigation__exit-button {
    position: relative !important;
    bottom: 0;
  }
}

.secondary-navigation button.button--icon.button--active,
.secondary-navigation .button.button--icon.button--active {
  background: var(--color-primary-dark);
  color: var(--color-primary);
  border-right: .5rem solid var(--color-primary);
  box-shadow: none;
}

.secondary-navigation button.button--icon.button--selected {
  background: var(--color-secondary) !important;
  color: var(--color-secondary-dark) !important;
  z-index: 50;
  box-shadow: none;
  filter: var(--filter-active-element);
}

.secondary-navigation button.button--icon.button--selected:hover {
  box-shadow: none;
}

#secondary-navigation__search-form {
  position: absolute;
  top: 0;
  left: 3.8rem;
  width: 25.2rem;
}

#secondary-navigation__search-input {
  animation: search-input-animation .25s ease-in-out;
  animation-fill-mode: forwards;
  float: left;
  padding-left: 1rem;
  height: 4rem;
  box-shadow: 0 0 1rem black, 0 0 2rem black;
  filter: var(--filter-active-element);
  box-sizing: border-box;
}

#secondary-navigation__search-button {
  filter: var(--filter-active-element);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@keyframes search-input-animation {
  from { width: 0rem; }
  to { width: 15rem; }
}


/*
 box-shadow: 0 0 2rem black; 
 */
