.engineering__blueprint-grade {
  clear: both;
}

@media only screen and (min-width: 799px) {
  .engineering__blueprint-components {
    padding-left: 20.5rem;
  }
  .engineering__blueprint-features {
    width: 20rem;
    float: left;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }

}