
.navigation-panel__detail-info,
.navigation-panel__detail h4,
.navigation-panel__detail h5,
.navigation-panel__detail p,
.navigation-panel__detail span {
  word-wrap: break-word;
  /* word-break: break-all; */
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: normal;
}

.navigation-panel__detail-info {
  position: relative;
  padding-left: 5rem;
  min-height: 4rem;
  margin-right: 2rem;
}

.navigation-panel__detail {
  background-color: var(--panel-background-color);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25rem;
}

.navigation-panel__detail .navigation-panel__detail-info svg {
  position: absolute;
  top: .25rem;
  left: .25rem;
  bottom: 0;
  width: 4rem;
  display: block;
  filter: grayscale(100%);
}

.navigation-panel__detail .percentage {
  display: inline-block;
  width: 6rem;
  text-align: right;
  margin-right: .5rem;
}

.navigation-panel__detail hr {
  margin-right: 2rem;
}

.navigation-panel__detail h3 {
  font-size: 1.5rem;
  text-shadow: var(--text-shadow);
  margin-bottom: .25rem;
}

.navigation-panel__detail h4 {
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-size: 1.15rem;
  margin-bottom: 0;
}

.navigation-panel__detail h5 {
  font-size: 1.5rem;
  text-shadow: var(--text-shadow);
}

.navigation-panel__detail label {
  display: block;
  color: var(--primary-color);
  font-weight: bold;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
}

.navigation-panel__detail p {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

#navigation-panel[data-view="navigation-panel__list"] .navigation-panel__map {
  display: none;
}

#navigation-panel[data-view="navigation-panel__map"] .navigation-panel__list {
  display: none;
}

.navigation-panel__list,
.navigation-panel__map {
  position: absolute;
  top: 0;
  left: 4.5rem;
  right: 25rem;
  bottom: 0;
  margin: 0;
  height: 100%;
  z-index: 3;
  overflow: hidden;
}

.navigation-panel__planet-name-text {
  font-size: 26rem;
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
  text-shadow: var(--text-shadow);
  font-weight: bold;
  opacity: 1;
  text-transform: uppercase;
}


.navigation-panel__planet-distance-text {
  font-size: 22rem;
  fill: var(--secondary-text-color);
  color: var(--secondary-text-color);
  text-shadow: var(--text-shadow);
  font-weight: bold;
  opacity: 1;
}

.navigation-panel__list .scrollable {
  overflow: scroll;
  height: 100%;
}

.navigation-panel__map-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 15, 0.7);
  Xbackground: linear-gradient(rgba(0, 0, 0, 0.7), rgba(27, 8, 0, 0.7));
}

.navigation-panel__map-foreground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 10;
  width: auto;
  height: 100%;
  padding: 0.5rem 1rem;
}

.navigation-panel__map-background::after {
  /* background-image: url(../../images/space.png); */
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  filter: contrast(2);
}

.navigation-panel__map-background::before {
  background-image: linear-gradient(rgb(58, 58, 58) .1rem, transparent .1rem), linear-gradient(90deg, rgb(58, 58, 58) .1rem, transparent .1rem);
  background-size: 3rem 3rem;
  background-position: -1.5rem;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.navigation-panel__map .system-info {
  position: relative;
  left: 0rem;
  right: 0rem;
  height: 9rem;
  display: block;
}

.navigation-panel__map .system-info h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.navigation-panel__map .system-info h2 {
  font-size: 1.25rem;
  margin: 0 0 0 3.5rem;
  top: -.75rem;
  position: relative;
}

.navigation-panel__map .system-info h3 {
  font-size: 1.25rem;
  margin: 0;
  text-transform: none;
}

.navigation-panel__map .system-objects {
  position: relative;
  display: block;
  left: 0rem;
  min-height: 5rem;
  height: auto;
  padding-top: 1rem;
}

.navigation-panel__map .system-objects:last-child {
  margin-bottom: 2rem;
}

/*  Set different max height based on number of items */
.navigation-panel__map .system-objects svg {
  max-width: 100%;
}

.navigation-panel__map .system-objects[data-stellar-objects-horizontal="1"] svg,
.navigation-panel__map .system-objects[data-stellar-objects-horizontal="2"] svg {
  max-width: 25%;
}

.navigation-panel__map .system-objects[data-stellar-objects-horizontal="3"] svg {
  max-width: 50%;
}

.navigation-panel__map .system-objects[data-stellar-objects-horizontal="4"] svg {
  max-width: 75%;
}

.navigation-panel__map .system-objects[data-stellar-objects-horizontal="1"][data-stellar-objects-vertical="4"] svg,
.navigation-panel__map .system-objects[data-stellar-objects-horizontal="1"][data-stellar-objects-vertical="5"] svg,
.navigation-panel__map .system-objects[data-stellar-objects-horizontal="1"][data-stellar-objects-vertical="6"] svg,
.navigation-panel__map .system-objects[data-stellar-objects-horizontal="2"][data-stellar-objects-vertical="4"] svg,
.navigation-panel__map .system-objects[data-stellar-objects-horizontal="2"][data-stellar-objects-vertical="5"] svg,
.navigation-panel__map .system-objects[data-stellar-objects-horizontal="2"][data-stellar-objects-vertical="6"] svg,
.navigation-panel__map .system-objects[data-stellar-objects-horizontal="3"][data-stellar-objects-vertical="4"] svg,
.navigation-panel__map .system-objects[data-stellar-objects-horizontal="3"][data-stellar-objects-vertical="5"] svg,
.navigation-panel__map .system-objects[data-stellar-objects-horizontal="3"][data-stellar-objects-vertical="6"] svg {
  max-width: 75%;
}


.navigation-panel__map .system-objects h2 {
  text-shadow: var(--text-shadow);
  margin: 0 !important;
}

.navigation-panel__map .system-objects h3 {
  color: var(--secondary-text-color);
  text-shadow: var(--text-shadow);
  font-size: 1.25rem;
  margin: 0 0 0 2.75rem !important;
  top: -.5rem;
  position: relative;
}

.navigation-panel__map .system-objects h4 {
  display: none;
  color: var(--secondary-text-color);
  text-shadow: var(--text-shadow);
  font-size: 1.25rem;
  margin: .5rem 0 1rem 0;
  text-transform: none;
}

.navigation-panel__map .system-object {
  fill: url(#svg-gradient__unknown);
}

.navigation-panel__map .system-object:focus {
  outline: none;
  stroke-width: 100 !important;
  stroke: var(--icon-focus-color) !important;
  Xfilter: brightness(1.4) drop-shadow(0 0 4rem var(--planet-atmosphere)) !important;
  filter: brightness(1.4);
  transition: all .1s ease;
}

.navigation-panel__map .system-object {
  z-index: 3;
}

.navigation-panel__map .navigation-panel__planet-surface {
  z-index: 1;
  pointer-events: none;
  opacity: 0.1;
}

/*
.navigation-panel__map .system-object:focus + .navigation-panel__planet-surface {
  fill: url(#svg-pattern__planet-surface-animated);
}
*/

#svg-gradient__planet stop:nth-child(1) {
  stop-color: var(--primary-color);
  stop-color: #005c81;
}
#svg-gradient__planet stop:nth-child(2) {
  stop-color: var(--dark-primary-color);
  stop-color:  #551b00;
}

#svg-gradient__planet--landable stop:nth-child(1) {
  stop-color: #00b3f7;
}
#svg-gradient__planet--landable stop:nth-child(2) {
  stop-color:  #8f3c15;
}

#svg-gradient__planet-ring stop:nth-child(1) {
  stop-color: rgba(160, 160, 160, 0.05);
}
#svg-gradient__planet-ring stop:nth-child(2) {
  stop-color: rgba(160, 160, 160, 0.1);
}

.navigation-panel__map .system-object[data-type="Planet"]:focus {
  Xfilter: url(#svg-filter__planet-shadow) drop-shadow(0 0 8rem var(--planet-atmosphere)) brightness(1.4) var(--planet-not-landable-filter) !important;
  filter: url(#svg-filter__planet-shadow);
}

.navigation-panel__map .system-object[data-type="Planet"][data-small="true"]:focus {
  Xfilter: url(#svg-filter__planet-shadow--small) drop-shadow(0 0 4rem var(--planet-atmosphere)) contrast(.95) var(--planet-not-landable-filter) !important;
  filter: url(#svg-filter__planet-shadow--small);
}

.navigation-panel__map .system-object[data-type="Planet"][data-landable="true"]:focus {
  Xfilter: url(#svg-filter__planet-shadow) drop-shadow(0 0 8rem var(--planet-atmosphere)) brightness(1.4) !important;
  filter: url(#svg-filter__planet-shadow);
}

.navigation-panel__map .system-object[data-type="Planet"][data-small="true"][data-landable="true"]:focus {
  Xfilter: url(#svg-filter__planet-shadow--small) drop-shadow(0 0 4rem var(--planet-atmosphere)) contrast(.95) !important;
  filter: url(#svg-filter__planet-shadow--small);
}

/* .navigation-panel__map .system-object[data-type="Planet"]:focus + .navigation-panel__planet-ring {
  stroke: var(--icon-focus-color);
  stroke-width: 10rem;
  transition: all .1s ease; 
  opacity: 0.7;
} */

.navigation-panel__map .system-object[data-type="Planet"]:not([data-atmosphere="No atmosphere"]) {

}

.navigation-panel__map .navigation-panel__planet-atmosphere {
  fill: url(#svg-gradient__planet--atmosphere);
  stroke: rgb(255, 255, 255);
  stroke-width: 10;
  filter: blur(4rem);
  opacity: 1;
}

#svg-gradient__planet--atmosphere stop:nth-child(1) {
  stop-color: rgb(113, 203, 255);
}

#svg-gradient__planet--atmosphere stop:nth-child(2) {
  stop-color: rgb(0, 140, 255);
}

#svg-gradient__planet--atmosphere stop:nth-child(3) {
  stop-color: rgb(0, 135, 177);
}

.navigation-panel__map .system-object[data-type="Planet"] {
  Xfilter: url(#svg-filter__planet-shadow) var(--planet-not-landable-filter);
  filter: url(#svg-filter__planet-shadow);
  fill: url(#svg-gradient__planet);
  /*
  fill: url(#svg-pattern__planet--clouds);
  filter: var(--planet-not-landable-filter) saturate(1.5) sepia(100%)  hue-rotate(330deg) contrast(2);
  */
}

.navigation-panel__map .system-object[data-type="Planet"][data-landable="true"] {
  fill: url(#svg-gradient__planet--landable);
}

.navigation-panel__map .system-object[data-type="Planet"][data-landable="true"][data-small="true"] {
  filter: url(#svg-filter__planet-shadow--small);
}

.navigation-panel__map .system-object[data-small="true"] {
  filter: url(#svg-filter__planet-shadow--small);
}

.navigation-panel__map .system-object[data-type="Planet"]:not([data-atmosphere="No atmosphere"]) {
  Xfilter: url(#svg-filter__planet-shadow) drop-shadow(0 0 8rem var(--planet-atmosphere)) var(--planet-not-landable-filter);
  filter: url(#svg-filter__planet-shadow);
  Xstroke: var(--planet-atmosphere);
  Xstroke: black;
}

.navigation-panel__map .system-object[data-type="Planet"]:not([data-atmosphere="No atmosphere"])[data-small="true"] {
  Xfilter: url(#svg-filter__planet-shadow--small) drop-shadow(0 0 4rem var(--planet-atmosphere)) var(--planet-not-landable-filter) !important;
  filter: url(#svg-filter__planet-shadow--small);
  Xstroke: var(--planet-atmosphere);
  Xstroke: black;
}

.navigation-panel__map .system-object[data-type="Planet"]:not([data-atmosphere="No atmosphere"])[data-landable="true"][data-small="true"] {
  Xfilter: url(#svg-filter__planet-shadow--small) drop-shadow(0 0 4rem var(--planet-atmosphere)) !important;
  filter: url(#svg-filter__planet-shadow--small);
  Xstroke: var(--planet-atmosphere);
  Xstroke: black;
}


.navigation-panel__map .navigation-panel__planet-ring {
  display: none;
}

.navigation-panel__map .navigation-panel__planet-ring {
  display: block;
  fill: transparent;
  stroke: rgba(160, 255, 246, 0.2);
  stroke-width: 7rem;
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(-15deg);
  fill: url(#svg-gradient__planet-ring);
  pointer-events: none;
}

.navigation-panel__map .navigation-panel__planet-ring-mask {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(-15deg);
}

.navigation-panel__planet {
  height: 100%;
  width: 100%;
  border-radius: 10000px;
  pointer-events: none;
}

.navigation-panel__station {
  fill: black;
  stroke: #666;
  stroke-width: 100;
  transition: all .1s ease;
  outline: none;
}

.navigation-panel__station:focus {
  stroke: var(--icon-focus-color);
}

.navigation-panel__station-icon {
  pointer-events: none;
}

.navigation-panel__map .svg-wrapper {
  position: relative;
  animation: fade-in-animation ease 1s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
  opacity: 0;
  margin: 1rem auto auto auto;
  z-index: 2;
  filter: contrast(1.5);
  user-select: none;
  Xfilter: sepia(100%) hue-rotate(160deg) saturate(2) contrast(1.2) grayscale(50%) brightness(.8);
}

/*
.navigation-panel__map .svg-wrapper {
  position: relative;
  padding: 2rem;
}

.navigation-panel__map .svg-wrapper::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: text-flicker-animation 5s infinite;
}

.navigation-panel__map .svg-wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.5) 50%), linear-gradient(90deg, rgba(138, 73, 0, .25), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
*/
