
.navigation-panel__inspector-heading,
.navigation-panel__inspector h4,
.navigation-panel__inspector h5,
.navigation-panel__inspector p,
.navigation-panel__inspector span {
  word-wrap: break-word;
  /* word-break: break-all; */
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: normal;
}

.navigation-panel__inspector-heading {
  position: relative;
  padding-left: 5rem;
}

.navigation-panel__inspector {
  background: var(--linear-gradient-background);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20rem;
  padding: .5rem .5rem 2rem .5rem;
  transition: right .5s ease-in-out;
  z-index: 10;
}

.navigation-panel__inspector--hidden {
  right: -20rem;
  padding: 0;
  background: var(--color-background-panel-opaque);
  animation-delay: 0;
}

.navigation-panel__inspector .button__close-button {
  position: fixed;
  top: auto;
  bottom: 1rem;
  right: 19rem;
  z-index: 200;
  opacity: 0;
  animation: fx-fade-in-animation .25s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}

.navigation-panel__inspector .navigation-panel__inspector-heading .icon {
  position: absolute;
  top: .25rem;
  left: .5rem;
  bottom: 0;
  width: 4rem;
  font-size: 3.5rem;
}

.navigation-panel__inspector hr {
  margin: 1.5rem 0 1rem 0;
}

.navigation-panel__inspector .percentage {
  display: inline-block;
  width: 6rem;
  text-align: right;
  margin-right: .5rem;
}

.navigation-panel__inspector h2 {
  font-size: 1.5rem;
}

.navigation-panel__inspector h3 {
  font-size: 1.25rem;
}

#navigation-panel[data-view="navigation-panel__list"] .navigation-panel__map {
  display: none;
}

#navigation-panel[data-view="navigation-panel__map"] .navigation-panel__list {
  display: none;
}

.navigation-panel__list,
.navigation-panel__map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  height: 100%;
  z-index: 3;
  overflow: hidden;
  Xtransition: right .5s ease-in-out;
}

.navigation-panel__list--inspector,
.navigation-panel__map--inspector {
  right: 21rem;
}

.navigation-panel__list {
  left: 4.5rem;
}

.navigation-panel__map {
  left: 0;
}

.navigation-panel__list .scrollable {
  overflow: scroll;
  height: 100%;
}

.navigation-panel__list .icon {
  font-size: 2rem;
  margin-left: -2.75rem;
  margin-top: -.35rem;
  position: absolute;
}

.navigation-panel__map-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 10, 0.85);
}

.navigation-panel__map-foreground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 10;
  width: auto;
  height: 100%;
}

@media only screen and (min-width: 801px) {
  .navigation-panel__map-foreground.scrollable {
    overflow-y: scroll;
  }
}

.navigation-panel__map-background::after {
  /* https://commons.wikimedia.org/wiki/File:Abell315_(ESO).jpg */
  background-image: url(/images/stars.jpg);
  background-size: 30rem;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  filter: contrast(2);
  opacity: .8;
}

.navigation-panel__map-background::before {
  background-image: linear-gradient(rgb(58, 58, 58) .1rem, transparent .1rem), linear-gradient(90deg, rgb(58, 58, 58) .1rem, transparent .1rem);
  background-size: 3rem 3rem;
  background-position: -1.5rem;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.navigation-panel__map h1 .icon {
  position: relative;
  top: .5rem;
  margin-right: .75rem;
  line-height: 4rem;
}

.navigation-panel__map h2 .icon {
  position: relative;
  top: .3rem;
  line-height: 3rem;
}

.system-map__planet-icon {
  height: 100%;
  width: 100%;
  border-radius: 10000px;
  pointer-events: none;
}

.navigation-panel__inspector-section {
  margin-bottom: 1.5rem;
  font-weight: bold;
  padding: 0 .5rem;
}

.navigation-panel__inspector-section .icon {
  margin-right: .5rem;
  font-size: 2rem;
  line-height: 1rem;
  position: relative;
  top: .5rem;
}

.navigation-panel__inspector-section ul {
  margin-bottom: .5rem;
  margin: .5rem 0;
}

.navigation-panel__inspector-section li {
  font-size: var(--base-font-size);
  margin: .25rem 0;
}

.navigation-panel__inspector-section--location .icon {
  margin-right: .25rem;
  font-size: 1.75rem;
  line-height: 1.5rem;
  position: relative;
  top: .45rem;
  text-decoration: none !important;
}

.navigation-panel__system-map-search-form {
  position: absolute;
  top: .5rem;
  right: 1.5rem;
  z-index: 20;
}

.navigation-panel__system-map-search-input {
  padding: .25rem .5rem;
  width: 0rem;
  border-right: none;
  margin-right: -.5rem;
  animation: navigation-panel__system-map-search-input-animation .25s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes navigation-panel__system-map-search-input-animation {
  from { width: 0rem; }
  to { width: 15rem; }
}

@media only screen and (max-width: 800px) {
  .navigation-panel__list,
  .navigation-panel__map {
    height: 100%;
    bottom: 0;
  }
  .navigation-panel__list--inspector,
  .navigation-panel__map--inspector {
    position: absolute;
    height: 50%;
    top: 0;
    bottom: 50%;
    right: 0;
  }

  .navigation-panel__inspector {
    position: absolute;
    width: 100%;
    height: 50%;
    right: 0;
    top: 50%;
    bottom: .5rem;
    margin-top: .5rem;
    transition: top .5s ease;
    overflow: scroll;
  }

  .navigation-panel__inspector > * {
    margin-left: 1rem !important;
  }

  .navigation-panel__inspector--hidden {
    top: 100%;
    height: 0;
    padding: 0;
    overflow: hidden;
  }

  .navigation-panel__inspector .button__close-button {
    top: 50%;
    right: 2rem;
    transform: rotate(90deg);
    margin-top: 5rem;
  }
}