/* Additional styles for different types of planet https://elite-dangerous.fandom.com/wiki/Planets */

.navigation-panel__map .navigation-panel__planet-ring {
  display: block;
  fill: transparent;
  stroke: rgba(160, 255, 246, 0.2);
  stroke-width: 5rem;
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(-15deg);
  fill: url(#svg-gradient__planet-ring);
  pointer-events: none;
}
#svg-gradient__planet-ring stop:nth-child(1) {
  stop-color: rgba(160, 160, 160, 0.1);
}
#svg-gradient__planet-ring stop:nth-child(2) {
  stop-color: rgba(160, 160, 160, 0.2);
}

.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Class I gas giant"],
.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Class II gas giant"],
.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Class III gas giant"],
.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Class IV gas giant"],
.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Class V gas giant"],
.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Helium-rich gas giant"],
.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Helium gas giant"] 
.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Gas giant with water-based life"] {
  fill: url(#svg-gradient__planet--gas-giant);
}
#svg-gradient__planet--gas-giant stop:nth-child(1) {
  stop-color: rgb(132, 134, 111);
}
#svg-gradient__planet--gas-giant stop:nth-child(2) {
  stop-color: rgb(117, 70, 7);
}

.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Ammonia world"],
.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Gas giant with ammonia-based life"] {
  fill: url(#svg-gradient__planet--gas-giant-ammonia);
}
#svg-gradient__planet--gas-giant-ammonia stop:nth-child(1) {
  stop-color: rgb(107, 139, 87);
}
#svg-gradient__planet--gas-giant-ammonia stop:nth-child(2) {
  stop-color: rgb(4, 99, 47);
}

.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Rocky body"] {
  fill: url(#svg-gradient__planet--rocky);
}
#svg-gradient__planet--rocky stop:nth-child(1) {
  stop-color: rgb(124, 94, 81);
}
#svg-gradient__planet--rocky stop:nth-child(2) {
  stop-color: rgb(97, 57, 41);
}

.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Rocky Ice world"] {
  fill: url(#svg-gradient__planet--rocky-icy);
}
#svg-gradient__planet--rocky-icy stop:nth-child(1) {
  stop-color: rgb(106, 142, 155);
}
#svg-gradient__planet--rocky-icy stop:nth-child(2) {
  stop-color: rgb(90, 69, 37);
}

.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Icy body"] {
  fill: url(#svg-gradient__planet--icy);
}
#svg-gradient__planet--icy stop:nth-child(1) {
  stop-color: rgb(153, 206, 226);
}
#svg-gradient__planet--icy stop:nth-child(2) {
  stop-color: rgb(61, 88, 110);
}

.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Metal-rich body"]{
  fill: url(#svg-gradient__planet--metal-rich);
}
#svg-gradient__planet--metal-rich stop:nth-child(1) {
  stop-color: rgb(102, 102, 102);
}
#svg-gradient__planet--metal-rich stop:nth-child(2) {
  stop-color: rgb(97, 84, 79);
}

.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="High metal content world"] {
  fill: url(#svg-gradient__planet--high-metal);
}
#svg-gradient__planet--high-metal stop:nth-child(1) {
  stop-color: rgb(133, 19, 19);
}
#svg-gradient__planet--high-metal stop:nth-child(2) {
  stop-color: rgb(85, 28, 5);
}

.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Water giant"],
.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Water world"],
.navigation-panel__map .system-object[data-type="Planet"][data-sub-type="Earth-like world"] {
  fill: url(#svg-gradient__planet--earth-like);
}
#svg-gradient__planet--earth-like stop:nth-child(1) {
  stop-color: rgb(27, 116, 250);
}
#svg-gradient__planet--earth-like stop:nth-child(2) {
  stop-color: rgb(7, 82, 72);
}





