.ship-panel {
  position: relative;
}

.ship-panel hr {
  margin: 1.5rem 0;
}

.ship-panel__ship-pips {
  position: absolute;
  top: .5rem;
  right: .75rem;
}

.ship-panel__ship-pip {
  height: 2rem;
}

.ship-panel__ship-pip progress {
  width: 5rem;
  height: 1.5rem !important;
  float: right;
}

.ship-panel__ship-pip label {
  float: left;
}

.ship-panel__ship-stats {
  width: auto;
}

.ship-panel__ship-stats tbody tr,
.ship-panel__ship-stats tbody tr:hover td,
.ship-panel__ship-stats tbody tr:focus td {
  background: none !important;
  color: inherit !important;
}

.ship-panel__ship-stats td {
  word-wrap: nowrap;
  white-space: nowrap;
  padding: .25rem 1rem .25rem 0;
  text-shadow: none;
}

.ship-panel__ship-stats .value {
  float: right;
  margin-left: 2rem;
}

@media only screen and (max-width: 1024px) {
  .ship-panel__ship-stats span,
  .ship-panel__ship-stats .value {
    clear: both;
    float: left;
    margin-left: 0;
  }
}

.ship-panel__modules:first-of-type {
  padding-left: 0;
}

.ship-panel__modules:last-of-type {
  padding-right: 0;
}

.ship-panel__module-icon {
  background: var(--dark-primary-color);
}

table.table--flex-inline tbody tr:hover td.ship-panel__module .ship-panel__module-icon {
  color: var(--dark-primary-color);
  background: var(--panel-background-color);
  text-shadow: none;
}

table.table--flex-inline tbody tr:hover td.ship-panel__module .ship-panel__engineering {
  color: var(--dark-primary-color);
}

.ship-panel__module p {
  margin-bottom: 0;
}

.ship-panel__module p:last-of-type {
  margin-bottom: 2.75rem;
}

.ship-panel__engineering {
  position: absolute;
  right: .25rem;
  bottom: 0rem;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--info-color);
}
