.ship-panel {
  --height-module-panel-rem: 20;
}

.ship-panel hr {
  margin: 1.5rem 0;
}

.ship-panel__title {
  margin-bottom: .5rem;
}

@media only screen and (min-width: 800px) {
  .ship-panel__title {
    margin-right: 13rem;
  }  
}

.ship-panel__modules {
  position: absolute;
  /* To avoid clipping text-shadow to left of title text */
  top: 0;
  bottom: 0;
  height: auto;
  padding-right: .5rem;
}

.ship-panel__modules--module-inspector {
  bottom: 14rem;
}

.ship-panel__module-inspector {
  position: absolute;
  height: 13.5rem;
  bottom: 0;
  width: 100%;
  z-index: 20;
  transition: height .25s ease-in;
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}

.ship-panel__module-inspector > *:not(button) {
  pointer-events: none;
}

.ship-panel__module-inspector--hidden {
  background: var(--color-background-panel);
  height: 0;
  padding: 0;
  border-color: transparent;
  overflow: hidden;
}

@media only screen and (orientation: portrait) {
  .ship-panel__modules--module-inspector {
    bottom: 20.5rem;
  }

  .ship-panel__module-inspector {
    height: 20rem;
  }

  .ship-panel__module-inspector--hidden {
    height: 0;
  }
}

.ship-panel__ship-pips {
  position: absolute;
  top: .25rem;
  right: .75rem;
}

@media only screen and (orientation: portrait) {
  .ship-panel__ship-pips {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
  }
}

.ship-panel__ship-pip {
  height: 2rem;
}

.ship-panel__ship-pip progress {
  width: 5rem;
  height: 1.5rem !important;
  float: right;
}

@media only screen and (orientation: portrait) {
  .ship-panel__ship-pip progress {
    width: 70%;
    margin-right: .25rem;
  }
}

.ship-panel__ship-pip label {
  float: right;
  font-size: 1.25rem;
  margin-right: .5rem;
}

@media only screen and (orientation: portrait) {
  .ship-panel__ship-pip label {
    float: left;
  }
}

.ship-panel__ship-stats {
  width: auto;
}

.ship-panel__ship-stats tbody tr,
.ship-panel__ship-stats tbody tr:hover td,
.ship-panel__ship-stats tbody tr:focus td {
  background: none !important;
  color: inherit !important;
}

.ship-panel__ship-stats td {
  padding: 0 1rem 0 0;
  text-shadow: none;
}

.ship-panel__ship-stats .value {
  float: right;
  margin-left: 2rem;
}

@media only screen and (max-width: 1023px) {
  .ship-panel__ship-stats span,
  .ship-panel__ship-stats .value {
    clear: both;
    float: left;
    margin-left: 0;
  }
}

.ship-panel__module-icon {
  background: var(--color-primary-dark);
}

.ship-panel__module-section {
  width: 33%;
  float: left;
  pointer-events: none;
  font-size: var(--base-font-size) !important;
  font-weight: bold !important;
  box-sizing: border-box;
  position: relative;
}

.ship-panel__module-section .text-link {
  pointer-events: all !important;
}

@media only screen and (orientation: portrait) {
  .ship-panel__module-section {
    width: 100%;
    margin-bottom: .25rem;
  }
}

.ship-panel__module-section p {
  margin: 0.25rem 0;
}

table.table--flex-inline.table--interactive tbody tr:hover td.ship-panel__module .ship-panel__module-icon,
table.table--flex-inline.table--interactive tbody tr:focus td.ship-panel__module .ship-panel__module-icon,
table.table--flex-inline.table--interactive tbody tr.table__row--active td.ship-panel__module .ship-panel__module-icon {
  color: var(--color-primary-dark);
  background: var(--color-background-panel-translucent);
  text-shadow: none;
}

table.table--flex-inline.table--interactive tbody tr:hover td.ship-panel__module .ship-panel__engineering .icon,
table.table--flex-inline.table--interactive tbody tr:focus td.ship-panel__module .ship-panel__engineering .icon,
table.table--flex-inline.table--interactive tbody tr.table__row--active td.ship-panel__module .ship-panel__engineering .icon {
  color: var(--color-primary-dark);
  font-weight: 600;
}

.ship-panel .icon.icarus-terminal-engineering {
  /* This is a hack, weird spacing got introduced at some point */
  width: 2rem !important;
  display: inline-block;
}

.ship-panel__module p {
  margin-bottom: 0;
}

.ship-panel__module p:last-of-type {
  margin-bottom: 2.75rem;
}

.ship-panel__engineering {
  position: absolute;
  right: .5rem;
  bottom: 0.25rem;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--color-info);
}

.ship-panel__engineering .icon {
  font-weight: 500;
  margin-right: .1rem;
}