button,
.button {
  background: var(--color-primary-dark);
  color: var(--color-primary);
  border: 0;
  padding: .5rem 1rem;
  line-height: 2rem;
  font-family: "Jura", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  text-shadow: var(--text-shadow);
  font-size: inherit;
  outline: none;
  box-shadow: 0 0 1.5rem .5rem rgba(0,0,0,.3) inset;
  border-radius: .1rem;
}

button:disabled:not(.button--active),
.button.button--disabled:not(.button--active) {
  opacity: 0.25;
}

button.button--active,
button:active:not([disabled]),
.button.button--active,
.button:active:not(.button--disabled) {
  background: var(--color-primary);
  color: var(--color-primary-dark);
  text-shadow: 0 0 1rem var(--color-primary-dark), 0 0 2rem var(--color-primary-dark);
  box-shadow: 0 0 1.5rem .5rem rgba(var(--color-primary-dark-r),var(--color-primary-dark-g),var(--color-primary-dark-b),.3) inset, 0 0 .25rem var(--color-primary);
  filter: var(--filter-active-element);
}

button:hover:not([disabled]):not(.button--active),
button:focus:not([disabled]):not(.button--active),
.button:hover:not(.button--disabled):not(.button--active),
.button:focus:not(.button--disabled):not(.button--active) {
  background: var(--color-primary);
  color: var(--color-primary-dark);
  text-shadow: 0 0 1rem var(--color-primary-dark), 0 0 2rem var(--color-primary-dark);
  box-shadow: 0 0 1.5rem .5rem rgba(var(--color-primary-dark-r),var(--color-primary-dark-g),var(--color-primary-dark-b),.3) inset, 0 0 .25rem var(--color-primary);
  filter: var(--filter-hover-element);
}

button.button--icon,
.button.button--icon {
  position: relative;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  min-width: initial;
  padding: 0;
  box-shadow: 0 0 1.5rem .5rem rgba(var(--color-primary-dark-r),var(--color-primary-dark-g),var(--color-primary-dark-b),.3) inset,
}

button.button--icon .icon,
.button.button--icon .icon {
  font-size: 1.5rem;
  line-height: 3rem;
  text-shadow: 0 0 1rem rgba(var(--color-primary-r),var(--color-primary-g),var(--color-primary-b),.5);
}

button:not(.button--icon) .icon,
.button:not(.button--icon) .icon {
  float: left;
  margin-right: .5rem;
}

button.button--transparent ,
.button.button--transparent {
  background: none;
  box-shadow: none;
}

button.button--secondary,
.button.button--secondary {
  background: var(--color-secondary-dark);
  color: var(--color-secondary);
}

button.button--active.button--secondary,
button.button--secondary:active:not([disabled]),
.button.button--active.button--secondary,
.button.button--secondary:active:not(.button--disabled) {
  background: var(--color-secondary);
  color: var(--color-secondary-dark);
  text-shadow: 0 0 1rem var(--color-secondary-dark);
  box-shadow: none;
}

button.button--secondary:hover:not([disabled]):not(.button--active),
button.button--secondary:focus:not([disabled]):not(.button--active),
.button.button--secondary:hover:not(.button--disabled):not(.button--active),
.button.button--secondary:focus:not(.button--disabled):not(.button--active) {
  background: var(--color-secondary);
  color: var(--color-secondary-dark);
}

button.button--dark,
.button.button--dark {
  background: rgb(5,5,5);
  color: var(--color-info);
  outline: .2rem solid rgba(255,255,255,.5);
  outline-offset: -0.2em;
  box-shadow: none;
}

button.button--dark:hover:not([disabled]):not(.button--active),
button.button--dark:focus:not([disabled]):not(.button--active),
.button.button--dark:hover:not(.button--disabled):not(.button--active),
.button.button--dark:focus:not(.button--disabled):not(.button--active) {
  background: rgb(5,5,5);
  color: var(--color-info);
  outline: .2rem solid var(--color-info);
  box-shadow: none;
}

.button__close-button,
button.button__close-button {
  position: absolute;
  display: block;
  right: .5rem;
  top: .5rem;
  text-align: center;
}