

.checkbox {
  position: relative;
  height: 5rem;
  display: block;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox .checkbox__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.25rem;
}

@media only screen and (max-width: 799px) {
  .checkbox {
    height: 6rem;
  }
  .checkbox .checkbox__text {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

.checkbox .checkbox__control {
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  clear: both;
  margin: auto;
  height: 2rem;
  max-width: 6rem;
  background-color: var(--color-background-panel-translucent);
  border: .2rem solid var(--color-primary);
  opacity: .5;
  border-radius: .1rem;
}

.checkbox .checkbox__control:hover {
  opacity: 1;
}


.checkbox .checkbox__control:hover:after {
  opacity: 1;
}

.checkbox .checkbox__control:after {
  content: "";
  position: absolute;
  top: .2rem;
  left: .2rem;
  height: 1.6rem;
  width: 50%;
  max-width: 3rem;
  background-color: var(--color-primary);
  opacity: .5;
  border-radius: .1rem;
}

.checkbox input:checked ~ .checkbox__control {
  opacity: 1;
}

.checkbox input:checked ~ .checkbox__control:after {
  right: .2rem;
  left: initial;
  background-color: var(--color-primary);
  opacity: 1;
  box-shadow: 0 0 .5rem var(--color-primary);
}