.checkbox {
  position: relative;
  height: 5rem;
  display: block;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox .checkbox__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.25rem;
  color: var(--color-info);
}

@media only screen and (max-width: 799px) {
  .checkbox {
    height: 6rem;
  }
  .checkbox .checkbox__text {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

.checkbox .checkbox__control {
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  clear: both;
  margin: auto;
  height: 2rem;
  max-width: 5rem;
  border: .2rem solid var(--color-info);
  opacity: .5;
  border-radius: 5rem;
  transition: all .25s ease-in-out;
}

.checkbox .checkbox__control:after {
  content: "";
  position: absolute;
  top: .2rem;
  left: calc(0% + .2rem);
  height: 1.2rem;
  width: 1.2rem;
  max-width: 3rem;
  background-color: var(--color-info);
  border: .2rem solid var(--color-info);
  border-radius: 5rem;
  transition: all .2s ease-in-out;
}

.checkbox input:checked ~ .checkbox__control {
  opacity: 1;
}

.checkbox input:checked ~ .checkbox__control:after {
  box-shadow: 0 0 .5rem var(--color-info);
}

.checkbox input:checked ~ .checkbox__control:after {
  left: calc(100% - 1.8rem);
}