input {
  border: .25rem solid var(--color-primary-dark);
  background: var(--color-primary-dark);
  color: var(--color-icon);
  font-size: 1.25rem;
  line-height: 2rem;
  outline: 0;
  padding: .25rem .5rem;
  text-transform: uppercase;
  font-family: "Jura", sans-serif;
  font-weight: 900;
}

input::placeholder {
  color: var(--color-primary);
  opacity: 0.5;
}

input:focus,
input:hover {
  border-color: var(--color-primary);
}

.input--secondary {
  border-color: var(--color-secondary);
  background: var(--color-secondary-dark);
}

input.input--secondary::placeholder,
.input--secondary::placeholder {
  color: var(--color-secondary);
  opacity: 0.5;
}

input.input--secondary:focus,
input.input--secondary:hover,
.input--secondary:focus,
.input--secondary:hover {
  border-color: var(--color-secondary);
}


.checkbox {
  position: relative;
  height: 4.4rem;
  display: block;
  text-align: center;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox .checkbox__text {
  font-size: 1.25rem;
}

@media only screen and (max-width: 799px) {
  .checkbox .checkbox__text {
    font-size: 1rem;
  }
}

.checkbox .checkbox__control {
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  clear: both;
  margin: auto;
  height: 2rem;
  width: 6rem;
  background-color: var(--color-primary-dark);
  border: .2rem solid var(--color-primary);
  opacity: .5;
}

.checkbox .checkbox__control:after {
  content: "";
  position: absolute;
  top: .2rem;
  left: .2rem;
  height: 1.6rem;
  width: 2.8rem;
  background-color: var(--color-primary);
  opacity: .5;
}

.checkbox input:checked ~ .checkbox__control {
  opacity: 1;
}

.checkbox input:checked ~ .checkbox__control:after {
  right: .2rem;
  left: initial;
  background-color: var(--color-primary);
  opacity: 1;
}