.inspector {
  padding: .5rem;
  background: black var(--linear-gradient-background);
  box-sizing: border-box;
}

.inspector__title {
  background: var(--color-primary-dark);
  color: var(--color-primary);
  margin: -.5rem -1rem 1rem -.5rem;
  height: 2.25rem;
  z-index: 10;
  width: calc(100% + 1.4rem);
  pointer-events: all !important;
  position: absolute;
}

.inspector__title:hover {
  background: var(--color-primary);
  color: var(--color-primary-dark);
  filter: var(--filter-hover-element);
}

.inspector__title:hover .icon {
  color: var(--color-primary-dark);
}

.inspector__title > * {
  float: left;
}

.inspector__title h3 {
  padding: .25rem 0 0 2.25rem;
  font-size: 1.25rem;
  line-height: 1.65rem;
}

.inspector__close-button {
  background: transparent !important;
  color: var(--color-primary) !important;
  padding: 0 .5rem;
  pointer-events: all !important;
  text-shadow: none;
  position: absolute;
  left: 0rem;
}

.inspector__close-button .icon {
  background: transparent !important;
  line-height: 2.25rem;
}

.inspector__close-button:hover {
  color: var(--color-primary-dark) !important;
  filter: none !important;
}

.inspector--horizontal .inspector__close-button {
  float: right;
  padding-right: .75rem;
}

.inspector--horizontal .inspector__close-button .icon {
  display: block;
  transform: rotate(90deg);
}

.inspector--horizontal .inspector__title {
  padding: 0 .5rem;
}

.inspector--horizontal .inspector__title h3 {
  padding: .25rem 0 0 2rem;
}

@media only screen and (orientation: portrait) {
  .inspector__title {
    padding: 0 .5rem;
  }
  .inspector {
    display: flex;
  }

  .inspector--horizontal .inspector__close-button,
  .inspector__close-button {
    float: right;
    padding-right: .5rem;
  }

  .inspector__close-button .icon {
    display: block;
    transform: rotate(90deg);
  }

  
  .inspector__title h3 {
    padding: .25rem 0 0 2rem;
  }
}

.inspector__contents {
  position: absolute;
  top: 2.65rem;
  bottom: .4rem;
  right: .5rem;
  left: .25rem;

  top: 2.25rem;
  left: 0;
  right: 0;
  bottom: 0;

  padding: .75rem;
  pointer-events: all !important;
}