.layout__overlay {
  z-index: 100;
  pointer-events: none;
}

.layout__background {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  background: radial-gradient(circle, var(--color-background) 0%, rgba(0,0,0,1) 100%);
  z-index: -1;
  opacity: 0.8;
}

.layout header h1 {
  position: relative;
  top: -.15rem;
  font-size: 2rem;
  line-height: 2rem;
}

@media only screen and (max-width: 600px) {
  .layout header h1 {
    visibility: hidden;
    height: 2rem;
  }
  .layout header h1:before {
    visibility: visible;
    content: 'ICARUS';
    display: block;
  }
}

.layout__main {
  position: absolute;
  top: 10rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  transition: .25s ease-in-out;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
}

.layout__full-width {
  width: 100%;
  height: 100%;
}

.layout__left-half,
.layout__right-half {
  position: relative;
  width: 50%;
  height: 100%;
}

.layout__left-half {
  float: left;
}

@media only screen and (min-width: 801px) {
  .layout__left-half.scrollable {
    overflow-y: scroll;
  }
}

.layout__right-half {
  float: right;
}

.layout__panel--secondary-navigation {
  padding-left: 5rem;
  box-sizing: border-box;
}

.layout__top-half,
.layout__bottom-half {
  position: absolute;
  width: 100%;
  height: 50%;
  float: none;
}
.layout__top-half {
  top: 0;
  bottom: 50%;
}
.layout__bottom-half {
  margin-top: .5rem;
  top: 50%;
  bottom: .5rem;
}

@media only screen and (max-width: 800px) {
  .layout__left-half,
  .layout__right-half {
    position: absolute;
    width: 100%;
    height: 50%;
    float: none;
  }
  .layout__left-half {
    top: 0;
    bottom: 50%;
  }
  .layout__right-half {
    margin-top: .5rem;
    top: 50%;
    bottom: .5rem;
  }
}