/* CSS specific to the loader animation */

#loader {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .75;
  zoom: 1.5;
  transition: .25s ease-in-out;
  z-index: 100;
  pointer-events: none;
  margin-top: -2.5rem;
  text-align: center;
}

.loader__row {
  display: flex;
}

.loader__arrow {
  width: 0;
  height: 0;
  margin: 0 -6px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 21.6px solid var(--primary-color);
  animation: loader__arrow-blink 1s infinite;
  filter: drop-shadow(0 0 18px var(--primary-color));
}

.loader__arrow--down {
  transform: rotate(180deg);
}

.loader__arrow--outer-1 {
  animation-delay: -0.0555555556s;
}

.loader__arrow--outer-2 {
  animation-delay: -0.1111111111s;
}

.loader__arrow--outer-3 {
  animation-delay: -0.1666666667s;
}

.loader__arrow--outer-4 {
  animation-delay: -0.2222222222s;
}

.loader__arrow--outer-5 {
  animation-delay: -0.2777777778s;
}

.loader__arrow--outer-6 {
  animation-delay: -0.3333333333s;
}

.loader__arrow--outer-7 {
  animation-delay: -0.3888888889s;
}

.loader__arrow--outer-8 {
  animation-delay: -0.4444444444s;
}

.loader__arrow--outer-9 {
  animation-delay: -0.5s;
}

.loader__arrow--outer-10 {
  animation-delay: -0.5555555556s;
}

.loader__arrow--outer-11 {
  animation-delay: -0.6111111111s;
}

.loader__arrow--outer-12 {
  animation-delay: -0.6666666667s;
}

.loader__arrow--outer-13 {
  animation-delay: -0.7222222222s;
}

.loader__arrow--outer-14 {
  animation-delay: -0.7777777778s;
}

.loader__arrow--outer-15 {
  animation-delay: -0.8333333333s;
}

.loader__arrow--outer-16 {
  animation-delay: -0.8888888889s;
}

.loader__arrow--outer-17 {
  animation-delay: -0.9444444444s;
}

.loader__arrow--outer-18 {
  animation-delay: -1s;
}

.loader__arrow--inner-1 {
  animation-delay: -0.1666666667s;
}

.loader__arrow--inner-2 {
  animation-delay: -0.3333333333s;
}

.loader__arrow--inner-3 {
  animation-delay: -0.5s;
}

.loader__arrow--inner-4 {
  animation-delay: -0.6666666667s;
}

.loader__arrow--inner-5 {
  animation-delay: -0.8333333333s;
}

.loader__arrow--inner-6 {
  animation-delay: -1s;
}

@keyframes loader__arrow-blink {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}