@import "variables.css";

@import "utils.css";
@import "fx/fx.css";
@import "fx/crt.css";
@import "layout.css";
@import "loader.css";
@import "button/button.css";
@import "button/button-group.css";
@import "input.css";
@import "text.css";
@import "table.css";
@import "secondary-navigation.css";
@import "inspector.css";
@import "tabs.css";
@import "modal-dialog.css";

@import "system-map.css";
/* @import "system-map-realistic-planets.css"; */

@import "panels/navigation-panel.css";
@import "panels/ship-panel.css";
@import "panels/engineering-panel.css";

@font-face {
  font-family: 'Jura';
  src: url('../public/fonts/Jura-VariableFont_wght.ttf') format('truetype');
}

/* Override generated defaults for terminal font */
[class^="icarus-terminal-"], [class*=" icarus-terminal-"] {
  font-size: inherit;
  font-weight: 500;
  pointer-events: none;
}

a,
* {
  /* Don't change the fallback cursor to something like pointer or it causes a screen flash on touch devices like Amazon Fire tablets (bug?!) */
  cursor: url('../public/images/cursor.png'), crosshair;
}

::selection { 
  background: var(--color-secondary-dark);
  color: var(--color-secondary);
  text-shadow: 0 0 5px var(--color-secondary);
}

html {
  zoom: 100%;
  background: black;
}

html,
.scrollable {
  scrollbar-width: none;
}

html::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  width: 0px;
}

.scrollable {
  scrollbar-width: none;
  overflow-x: hidden !important;
}

.scrollable::-webkit-scrollbar {
  width: 16px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  min-height: 4rem;
  box-shadow: 0 0 10px var(--color-primary-dark);
}

.scrollable::-webkit-scrollbar-track {
  background-image: linear-gradient(90deg, transparent 41.67%, var(--color-primary) 41.67%, var(--color-primary) 50%, transparent 50%, transparent 91.67%, var(--color-primary) 91.67%, var(--color-primary) 100%);
  background-size: 48.00px 48.00px;
  background-position-x: 10px;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable {
  position: relative;
  -webkit-touch-callout: all !important;
  -webkit-user-select: all !important;
  -khtml-user-select: all !important;
  -moz-user-select: all !important;
  -ms-user-select: all !important;
  user-select: all !important;
  /* cursor: text; */
}

.selectable::after {
  display: block;
  position: absolute;
  opacity: 0;
  transition: all .1s ease-in;
  content: "\ea07";
  color: var(--color-secondary);
  text-shadow: .1rem .1rem 0 var(--color-secondary-dark);
  bottom: .2rem;
  right: -1.75rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-family: 'icarus-terminal' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  pointer-events: none;
}

.selectable:hover::after {
  opacity: 1;
}

.selectable--text {
  -webkit-touch-callout: text !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

::selection {
  background: none;
  color: inherit;
  text-shadow: initial;
}

html::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%), linear-gradient(90deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.05));
  z-index: -1;
  background-size: 100% 10px;
  pointer-events: none;
}

html, body {
  -ms-content-zooming: none;
}

body {
  color: var(--color-info);
  font-family: "Jura", sans-serif;
  font-size: var(--base-font-size);
  font-weight: bold;
  padding: 0;
  margin: 0;
  zoom: 0.9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 800px) {
  body {
    zoom: 0.8;
  }
}

@media only screen and (max-width: 600px) {
  body {
    zoom: 0.7;
  }
}

header {
  padding: 0 .5rem .5rem .5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

p {
  margin: .5rem 0;
}

a {
  color: white;
  text-decoration: none;
}

a:not(.button) {
  cursor: pointer;
}

a:hover:not(.active):not([disabled]),
a:active:not(.active):not([disabled]),
a:focus:not(.active):not([disabled]) {
  outline: none;
  outline-color: var(--color-secondary);
  --color-icon: var(--color-secondary);
}

ul {
  list-style-type: square;
  padding-left: 1.25rem;
  margin: 0;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border-radius: 0;
  height: 2rem;
  border: 0;
  background: var(--color-primary-dark); /* For Firefox */
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background: var(--color-primary-dark);
  padding: .1rem;
}

progress[value]::-moz-progress-bar {
  background: var(--color-primary);
  padding: .1rem;
}

progress[value]::-webkit-progress-value {
  background: var(--color-primary);
  transition: width .25s ease;
}

progress.progress--border {
  border-width: .2rem;
  border-style: solid;
  border-color: var(--color-primary);
}

progress.progress--secondary {
  background: var(--color-secondary-dark); /* For Firefox */
}

progress.progress--secondary[value]::-webkit-progress-bar {
  background: var(--color-secondary-dark);
  padding: .1rem;
}

progress.progress--secondary[value]::-moz-progress-bar {
  background: var(--color-secondary);
  padding: .1rem;
}

progress.progress--secondary[value]::-webkit-progress-value {
  background: var(--color-secondary);
}

progress.progress--secondary.progress--border {
  border-color: var(--color-secondary);
}


progress.progress--info {
  background: var(--color-primary-dark); /* For Firefox */
}

progress.progress--info[value]::-webkit-progress-bar {
  background: var(--color-primary-dark);
  padding: .1rem;
}

progress.progress--info[value]::-moz-progress-bar {
  background: var(--color-info);
  padding: .1rem;
}

progress.progress--info[value]::-webkit-progress-value {
  background: var(--color-info);
}

progress.progress--info.progress--border {
  border-color: var(--color-info);
}

progress.progress--success {
  background: var(--color-primary-dark); /* For Firefox */
}

progress.progress--success[value]::-webkit-progress-bar {
  background: var(--color-primary-dark);
  padding: .1rem;
}

progress.progress--success[value]::-moz-progress-bar {
  background: var(--color-success);
  padding: .1rem;
}

progress.progress--success[value]::-webkit-progress-value {
  background: var(--color-success);
}

progress.progress--success.progress--border {
  border-color: var(--color-success);
}


form {
  padding: 0;
  margin: 0;
}

label {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 900;
  margin-right: 1rem;
}

hr {
  border: none;
  height: .13rem;
  background: var(--color-primary);
  margin: .5rem 0;
  box-shadow: 0 .03rem .5rem var(--color-primary), 0 0 .7rem -.03rem var(--color-primary) !important;
  opacity: 0.7;
}

hr.muted {
  opacity: 0.3;
}

hr.small {
  height: .05rem;
}

hr.large {
  height: 2.5rem;
  opacity: 1;
}

hr.bold {
  height: .15rem;
  box-shadow: 0 .03rem .5rem var(--color-primary), 0 0rem .7rem -.03rem var(--color-primary), 0 0rem 1rem -.01rem var(--color-primary-dark) !important;
  opacity: 1;
}