.secondary-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  z-index: 10;
}

.secondary-navigation button {
  width: 4rem;
  height: 4rem;
  margin-bottom: .5rem;
  text-shadow: none;
  transition: border .25s ease-in-out;
}

.secondary-navigation button .icon {
  position: relative;
  top: .25rem;
  font-size: 2rem;
  line-height: 2rem;
}

.secondary-navigation button.button--active,
.secondary-navigation button:focus:not([disabled]),
.secondary-navigation button:active:not([disabled]),
.secondary-navigation .button.button--active,
.secondary-navigation .button:focus:not(.button--disabled):not([disabled]),
.secondary-navigation .button:active:not(.button--disabled):not([disabled]) {
  background: var(--dark-primary-color);
  color: var(--primary-color);
  border-right: .5rem solid var(--primary-color);
}