.system-map,
.system-map__planetary-system {
  --system-map-left-margin: 5rem;
}

.system-map {
  margin-bottom: 1px;
}

.system-map h1 {
  margin: 0 0 0 var(--system-map-left-margin);
  padding: 0;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2.75rem;
}

.system-map h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0 0 0 var(--system-map-left-margin);
}

.system-map h3 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 0 0 0 var(--system-map-left-margin);
  text-transform: none;
}

.system-map h1 .icon {
  position: relative;
  top: .5rem;
  margin-right: .5rem;
  line-height: 3rem;
}

.system-map__planetary-system {
  position: relative;
  display: block;
  left: 0;
  min-height: 5rem;
  height: auto;
  padding-top: 1rem;
  padding-left: var(--system-map-left-margin);
}

.system-map__planetary-system:last-child {
  margin-bottom: 2rem;
}

.system-map__planetary-system svg {
  max-width: 100%;
  /* Don't display map SVG on page load for performance reasons */
  opacity: 0;
  visibility: hidden;
  animation: svg-fade-in-animation .75s ease-in-out;
  animation-fill-mode: forwards;
  /* Wait until after other animations on page are done for best performance on slow devices */
  animation-delay: .75s; 
}

@keyframes svg-fade-in-animation {
  from { filter: contrast(2) blur(2rem); visibility: visible; opacity : 0; }
  to { filter: contrast(1) blur(0); visibility: visible; opacity: 1; }
}

.system-map__planetary-system h2 {
  text-shadow: var(--text-shadow);
  font-size: 2rem;
  line-height: 2rem;
}

.system-map__planetary-system h2 .icon {
  position: relative;
  top: .25rem;
}

.system-map__planetary-system h3 {
  color: var(--color-secondary);
  text-shadow: var(--text-shadow);
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.system-map__planetary-system h4 {
  color: var(--color-secondary);
  text-shadow: var(--text-shadow);
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-transform: none;
}

.system-map__system-object {
  outline: 0;
}

.system-map__system-object .system-map__planet {
  fill: url(#svg-gradient__unknown);
  overflow: visible;
}

.system-map__system-object:focus .system-map__planet {
  outline: none;
  stroke-width: 100 !important;
  stroke: var(--color-system-map-focus) !important;
  transition: all .1s ease;
}

.system-map__system-object .system-map__planet {
  z-index: 3;
}

.system-map__system-object[data-system-object-type="Planet"]:focus .system-map__planet {
  filter: url(#svg-filter__planet-shadow) drop-shadow(0 0 8rem var(--color-primary-dark)) var(--filter-system-map-planet-not-landable) !important;
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-small="true"]:focus .system-map__planet {
  filter: url(#svg-filter__planet-shadow--small) drop-shadow(0 0 4rem var(--color-primary-dark)) var(--filter-system-map-planet-not-landable) !important;
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-landable="true"]:focus .system-map__planet {
  filter: url(#svg-filter__planet-shadow) drop-shadow(0 0 8rem var(--color-primary-dark)) var(--filter-system-map-planet-landable) !important;
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-small="true"][data-system-object-landable="true"]:focus .system-map__planet {
  filter: url(#svg-filter__planet-shadow--small) drop-shadow(0 0 4rem var(--color-primary-dark)) var(--filter-system-map-planet-landable) !important;
}

/* .system-map__system-object[data-system-object-type="Planet"]:focus + .system-map__planet-ring {
  stroke: var(--color-icon-focus);
  stroke-width: 10rem;
  transition: all .1s ease; 
  opacity: 0.7;
} */

.system-map__system-object[data-system-object-type="Planet"]:not([data-system-object-atmosphere="No atmosphere"]) .system-map__planet {

}

.system-map__system-object[data-system-object-type="Planet"] .system-map__planet {
  fill: url(#system-map-svg-gradient__planet);
  filter: url(#svg-filter__planet-shadow) var(--filter-system-map-planet-not-landable);
}
.system-map__system-object[data-system-object-type="Planet"][data-system-object-sub-type*="gas giant" i] .system-map__planet-surface {
  fill: url(#svg-pattern__planet-surface--gas-giant);
  xfilter: var(--filter-system-map-planet-not-landable) saturate(1.5) sepia(100%)  hue-rotate(330deg) contrast(2);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-landable="true"] .system-map__planet {
  fill: url(#system-map-svg-gradient__planet--landable);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-landable="true"][data-system-object-small="true"] .system-map__planet {
  filter: url(#svg-filter__planet-shadow--small) var(--filter-system-map-planet-landable);
}

.system-map__system-object[data-system-object-type="Planet"][data-system-object-small="true"] .system-map__planet {
  filter: url(#svg-filter__planet-shadow--small) var(--filter-system-map-planet-not-landable);
}

.system-map__system-object[data-system-object-type="Planet"]:not([data-system-object-atmosphere="No atmosphere"]) .system-map__planet {
  filter: url(#svg-filter__planet-shadow) var(--filter-system-map-planet-not-landable);
}

.system-map__system-object[data-system-object-type="Planet"]:not([data-system-object-atmosphere="No atmosphere"])[data-system-object-small="true"] .system-map__planet {
  filter: url(#svg-filter__planet-shadow--small) var(--filter-system-map-planet-not-landable);
}

.system-map__system-object[data-system-object-type="Planet"]:not([data-system-object-atmosphere="No atmosphere"])[data-system-object-landable="true"][data-system-object-small="true"] .system-map__planet {
  filter: url(#svg-filter__planet-shadow--small) var(--filter-system-map-planet-landable);
}

.system-map__system-object[data-system-object-type="Star"] .system-map__planet {
  filter: url(#svg-filter__star-glow--light);
}

.system-map__system-object[data-system-object-type="Star"]:focus .system-map__planet {
  stroke-width: 225 !important;
}

.system-map__system-object[data-system-object-type="Star"] .system-map__planet-surface {
  fill: white;
  filter: grayscale(100%) contrast(0.2) brightness(1.5) drop-shadow(0 0 25rem white);
  opacity: 1;
  stroke: none;
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type="Supermassive Black Hole" i] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type="Black Hole" i] .system-map__planet-surface {
  fill: black;
  filter: drop-shadow(0 0 25rem black);
  stroke-width: 50;
  stroke: white;
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type*="White Dwarf" i] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type="Neutron Star" i] .system-map__planet-surface {
  filter: grayscale(100%) contrast(0.1) brightness(2) drop-shadow(0 0 5rem rgb(118, 173, 245)) drop-shadow(0 0 5rem rgb(53, 114, 255));
}


.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="K "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="0 "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="B "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="A "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="TT "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="TTS "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="W "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="WC "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="WN "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="W0 "] .system-map__planet-surface {
  filter: grayscale(100%) contrast(0.2) brightness(1.8) drop-shadow(0 0 5rem rgb(222, 247, 255)) drop-shadow(0 0 10rem white) drop-shadow(0 0 10rem rgb(108, 196, 255));
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="F "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="G "] .system-map__planet-surface {
  filter: contrast(0.2) sepia(100%) hue-rotate(340deg) saturate(2) brightness(1.1) contrast(2) drop-shadow(0 0 5rem rgb(255, 236, 129)) drop-shadow(0 0 10rem rgb(255, 236, 129)) drop-shadow(0 0 10rem orange);
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="Ae "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="Be "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="XXXXXXxxxx K "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="C "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="CH "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="CHd "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="CJ "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="CN "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="CS "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="MS "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="WNC "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="S "] .system-map__planet-surface {
  filter: contrast(0.25) sepia(100%) hue-rotate(330deg) saturate(3.75) brightness(1.15) contrast(2) drop-shadow(0 0 5rem rgb(255, 236, 129)) drop-shadow(0 0 10rem orange) drop-shadow(0 0 10rem orange);
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="M "] .system-map__planet-surface {
  filter: contrast(0.4) sepia(100%) hue-rotate(360deg) saturate(5) brightness(.75) contrast(2)  drop-shadow(0 0 5rem darkorange) drop-shadow(0 0 10rem darkorange) drop-shadow(0 0 10rem darkorange);
}

.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="L "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="Y "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type^="T "] .system-map__planet-surface,
.system-map__system-object[data-system-object-type="Star"][data-system-object-sub-type*="Brown dwarf" i] .system-map__planet-surface {
  filter: contrast(0.3) sepia(100%) hue-rotate(280deg) saturate(1.7) brightness(.45)  contrast(2) drop-shadow(0 0 15rem maroon);
}

/* 
.system-map__system-object:focus .system-map__planet-surface {
  fill: url(#svg-pattern__planet-surface-animated);
}
 */

.system-map__planetary-system-map {
  position: relative;
  animation: fade-in-animation ease 1s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
  opacity: 0;
  margin: 1rem auto auto auto;
  z-index: 2;
  user-select: none;
  Xfilter: contrast(1.5);
  Zfilter: sepia(100%) hue-rotate(160deg) saturate(2) contrast(1.2) grayscale(50%) brightness(.8);
}


/*
.system-map__planetary-system-map {
  position: relative;
  padding: 2rem;
}

.system-map__planetary-system-map::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: text-flicker-animation 5s infinite;
}

.system-map__planetary-system-map::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.5) 50%), linear-gradient(90deg, rgba(138, 73, 0, .25), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
*/

.system-map__planet-name-text {
  font-size: 26rem;
  fill: var(--color-primary);
  color: var(--color-primary);
  text-shadow: var(--text-shadow);
  opacity: 1;
  text-transform: uppercase;
}

.system-map__planet-distance-text {
  font-size: 22rem;
  fill: var(--color-info);
  color: var(--color-info);
  text-shadow: var(--text-shadow);
  opacity: 0.5;
}

.system-map__planet-surface {
  z-index: 1;
  pointer-events: none;
  opacity: 0.1;
  fill: url(#svg-pattern__planet-surface);
}

.system-map__planet-atmosphere {
  fill: url(#system-map-svg-gradient__planet--atmosphere);
  stroke: var(--color-system-map-planet-atmosphere);
  stroke-width: 50;
  filter: blur(5rem);
  opacity: .75;
}

.system-map__planet-ring {
  display: none;
}

.system-map__planet-ring {
  display: block;
  fill: transparent;
  stroke: rgba(160, 255, 246, 0.2) !important;
  stroke-width: 7rem;
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(-15deg);
  fill: url(#system-map-svg-gradient__planet-ring);
  pointer-events: none;
  filter: none !important;
}

.system-map__planet-ring-mask {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(-15deg);
  stroke-width: 0 !important;
}

.system-map__planetary-port-icon,
.system-map__planetary-facility-icon {
  pointer-events: none;
  overflow: visible;
  z-index: 5;
  display: block;
  fill: var(--color-info);
  filter: drop-shadow(0 0 5rem var(--color-secondary)) drop-shadow(0 0 10rem var(--color-secondary)) drop-shadow(0 0 10rem var(--color-secondary-dark)) !important;
 }

 .system-map__system-object:focus .system-map__planetary-port-icon,
 .system-map__system-object:focus .system-map__planetary-facility-icon {
  filter: drop-shadow(0 0 5rem var(--color-primary)) drop-shadow(0 0 10rem var(--color-primary)) !important;
 }

 .system-map__system-object .system-map__station {
  stroke: var(--color-secondary);
  fill: var(--color-secondary-dark);
  stroke-width: 100;
  transition: all .1s ease;
  outline: none;
}

.system-map__system-object:focus .system-map__station {
  fill: var(--color-primary-dark);
  stroke: var(--color-system-map-focus);
}

.system-map__station-icon {
  fill: var(--color-info);
  pointer-events: none;
  filter: drop-shadow(0 0 5rem var(--color-secondary)) !important;
}

.system-map__system-object:focus .system-map__station-icon {
  filter: drop-shadow(0 0 5rem var(--color-primary)) !important;
}

#system-map-svg-gradient__planet stop:nth-child(1) {
  stop-color: var(--color-primary);
  stop-color: #005c81;
}
#system-map-svg-gradient__planet stop:nth-child(2) {
  stop-color: var(--color-primary-dark);
  stop-color:  #551b00;
}

#system-map-svg-gradient__planet--landable stop:nth-child(1) {
  stop-color: #00b3f7;
}
#system-map-svg-gradient__planet--landable stop:nth-child(2) {
  stop-color:  #8f3c15;
}

#system-map-svg-gradient__planet-ring stop:nth-child(1) {
  stop-color: rgba(160, 160, 160, 0.05);
}
#system-map-svg-gradient__planet-ring stop:nth-child(2) {
  stop-color: rgba(160, 160, 160, 0.1);
}


#system-map-svg-gradient__planet--atmosphere stop:nth-child(1) {
  stop-color: rgb(113, 203, 255);
}

#system-map-svg-gradient__planet--atmosphere stop:nth-child(2) {
  stop-color: rgb(0, 140, 255);
}

#system-map-svg-gradient__planet--atmosphere stop:nth-child(3) {
  stop-color: rgb(0, 135, 177);
}
