table {
  position: relative;
  top: 0;
  margin: 0;
  border: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  --color-icon: var(--color-primary);
  padding-right: .25rem;
}

table thead tr th {
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--color-primary);
  box-shadow: 0 -10px 0 var(--color-primary-dark);
  padding: .6rem 1rem .8rem 1rem;
  text-align: left;
  user-select: none;
  font-weight: bold;
  text-shadow: 0 0 5px var(--color-primary);
  opacity: 0.5;
}

table thead tr {
  position: sticky !important;
  top: 0;
  z-index: 2;
  background: var(--color-background-panel);
}

table thead tr th:after {
  opacity: 0.5;
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  top: 2.6rem;
  left: 0;
  right: 0;
  border-bottom: .2rem solid var(--color-primary);
  box-shadow: 0 .03rem .5rem var(--color-primary);
}

table td {
  padding: 0.5rem 1rem;
  overflow: hidden;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  vertical-align: top;
  font-weight: bold;
}

table tbody tr {
  border-top: .25rem solid transparent;
  outline: 0 !important;
  animation: fade-in-animation .25s ease;
  color: var(--color-primary);
  background: var(--color-background-panel-translucent);
}

/* 
 Use <td> selector for :hover and :focus states as some older browsers don't 
 let you set a background colour for those states on <tr> elements
*/
table:not(.table--inline).table--interactive tbody tr:hover:not(.table-row--disabled):not(:focus) td {
  color: var(--color-primary);
  background: var(--color-primary-dark);
  transition: all .1s ease;
}

table:not(.table--inline).table--interactive tbody tr:focus:not(.table-row--disabled) td {
  color: var(--color-primary-dark) !important;
  background: var(--color-primary) !important;
}

table:not(.table--inline).table--interactive tbody tr:focus:not(.table-row--disabled) .icon {
  color: var(--color-primary-dark) !important; 
  font-weight: bold;
}

table td.wrap:last-child {
  white-space: pre-wrap;
  word-wrap: break-word;
}

table ul {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

table.table__bordered {
  border: 0;
  padding-right: 0;
}

table.table__bordered tbody tr {
  border-bottom: 0;
}

table.table__bordered tbody tr:not(.table-row--disabled) {
  background: transparent !important;
}

table.table__bordered tbody tr {
  background: var(--color-background-panel-translucent);
  border: .2rem solid var(--color-primary-dark);
}

table.table--inline {
  display: inline-block;
  font-size: 1.25rem;
}

table.table--inline tbody tr td {
  padding: .125rem 1.5rem .125rem 0;
}

table.table--inline tbody tr {
  border-spacing: 0;
  border-bottom: 0;
  background: transparent;
}

table.table--flex-inline tbody {
  display: flex;
  flex-wrap: wrap;
  border: 0;
}

table.table--flex-inline tbody tr {
  background: none;
  width: 25%;
  box-sizing: border-box;
  margin: 0;
  padding: .1rem .25rem;
}

@media only screen and (max-width: 1279px) {
  table.table--flex-inline tbody tr {
    width: 33.33%;
  }
}

@media only screen and (max-width: 1023px) {
  table.table--flex-inline tbody tr {
    width: 50%;
  }
}

@media only screen and (max-width: 599px) {
  table.table--flex-inline tbody tr {
    width: 100%;
  }
}

table.table--flex-inline tbody tr td {
  display: block;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  background: var(--color-background-panel-translucent);
  border: .2rem solid var(--color-primary-dark);
}

table.table--flex-inline.table--interactive tbody tr:hover td,
table.table--flex-inline.table--interactive tbody tr:focus td,
table.table--flex-inline.table--interactive tbody tr.table__row--active td {
  background: var(--color-primary) !important;
  color: var(--color-primary-dark) !important;
  opacity: 1;
  text-shadow: none;
}

table.table--animated tbody tr {
  animation: fx-fade-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

table.table--animated tbody tr:nth-child(1) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
table.table--animated tbody tr:nth-child(2) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .025s;
}
table.table--animated tbody tr:nth-child(3) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .05s;
}
table.table--animated tbody tr:nth-child(4) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .075s;
}
table.table--animated tbody tr:nth-child(5) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .1s;
}
table.table--animated tbody tr:nth-child(6) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .125s;
}
table.table--animated tbody tr:nth-child(7) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .15s;
}
table.table--animated tbody tr:nth-child(8) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .175s;
}
table.table--animated tbody tr:nth-child(9) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .2s;
}
table.table--animated tbody tr:nth-child(10) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .225s;
}
table.table--animated tbody tr:nth-child(11) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .25s;
}
table.table--animated tbody tr:nth-child(12) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .275s;
}
table.table--animated tbody tr:nth-child(13) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .3s;
}
table.table--animated tbody tr:nth-child(14) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .325s;
}
table.table--animated tbody tr:nth-child(15) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .35s;
}
table.table--animated tbody tr:nth-child(16) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .375s;
}
table.table--animated tbody tr:nth-child(17) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .4s;
}
table.table--animated tbody tr:nth-child(18) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .425s;
}
table.table--animated tbody tr:nth-child(19) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .45s;
}
table.table--animated tbody tr:nth-child(20) {
  animation: fx-flash-in-animation .5s;
  animation-fill-mode: forwards;
  animation-delay: .475s;
}