.text-muted {
  opacity: 0.5 !important;
  text-shadow: var(--text-shadow);
}

.text-primary {
  color: var(--primary-text-color);
  text-shadow: var(--text-shadow);
}

.text-primary-dark {
  color: var(--dark-primary-color);
  text-shadow: var(--text-shadow);
}

.text-secondary {
  color: var(--secondary-text-color);
  text-shadow: var(--text-shadow);
}

.text-secondary-dark {
  color: var(--dark-secondary-color);
  text-shadow: var(--text-shadow);
}

.text-danger {
  color: var(--danger-color);
  text-shadow: var(--text-shadow);
}

.text-success {
  color: var(--success-color);
  text-shadow: var(--text-shadow);
}

.text-info {
  color: var(--info-color);
  text-shadow: var(--text-shadow);
}

.text-right {
  text-align: right;
}

.text-no-wrap {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.text-blink {
  animation: text-blink-animation .5s ease-in-out infinite;
}

.text-uppercase {
  text-transform: uppercase;
}

@keyframes text-blink-animation {
  50% { opacity: 0; }
}

.text-formatted-object {
  color: var(--primary-text-color);
}

.text-formatted-object-property {
  margin: .5rem 0;
}

.text-formatted-object label {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
}

.text-formatted-object .text-formatted-object-value {
  color: var(--secondary-text-color) !important;
}