.text-muted {
  opacity: 0.5 !important;
  text-shadow: none;
}

.text-primary {
  color: var(--color-primary);
  text-shadow: var(--text-shadow);
}

.text-primary-dark {
  color: var(--color-primary-dark);
  text-shadow: var(--text-shadow);
}

.text-secondary {
  color: var(--color-secondary);
  text-shadow: var(--text-shadow);
}

.text-secondary-dark {
  color: var(--color-secondary-dark);
  text-shadow: var(--text-shadow);
}

.text-danger {
  color: var(--color-danger);
  text-shadow: var(--text-shadow);
}

.text-success {
  color: var(--color-success);
  text-shadow: var(--text-shadow);
}

.text-info {
  color: var(--color-info);
  text-shadow: var(--text-shadow);
}

.text-link {
  text-shadow: none;
}

.text-link .text-link-text {
  padding-bottom: .15rem;
  border-bottom: .15rem dotted var(--color-info);
  text-shadow: none;
}

.text-link:hover,
.text-link:focus {
  color: var(--color-secondary);
}

.text-link:hover .text-link-text,
.text-link:focus .text-link-text {
  border-bottom: .15rem dotted var(--color-secondary);
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-no-wrap {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow-x: clip !important; /* avoids clipping text shadow on y axis */
}

.text-blink-slow {
  animation: text-blink-animation .75s ease-in-out infinite;
}

.text-blink {
  animation: text-blink-animation .5s ease-in-out infinite;
}

.text-blink-fast {
  animation: text-blink-animation .25s ease-in-out infinite;
}

@keyframes text-blink-animation {
  50% { opacity: 10%; }
}

.text-uppercase {
  text-transform: uppercase;
}

.text-no-transform {
  text-transform: none;
}

.text-formatted-object {
  color: var(--color-primary);
  font-weight: bold;
}

.text-formatted-object-property {
  margin: .5rem 0;
}

.text-formatted-object label {
  display: inline-block;
  text-transform: uppercase;
}

.text-formatted-object .text-formatted-object-value {
  color: var(--color-info) !important;
}

.text-no-shadow {
  text-shadow: none !important;
}

/* This class should only be used on containg <div> elements */
.text-center-vertical {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}