.float-right {
  float: right;
}

.float-left {
  float: left;
}

@media only screen and (max-width: 599px) {
  .hidden-small {
    display: none;
  }
}

@media only screen and (min-width: 599px) {
  .visible-small {
    display: none;
  }
}

@media only screen and (max-width: 799px) {
  .hidden-medium {
    display: none;
  }
}

@media only screen and (min-width: 799px) {
  .visible-medium {
    display: none;
  }
}


@media only screen and (max-width: 1023px) {
  .hidden-large {
    display: none;
  }
}

@media only screen and (min-width: 1023px) {
  .visible-large {
    display: none;
  }
}