:root {
  /* Default values to allow for theme reset */
  --color-default-primary-r: 250;
  --color-default-primary-g: 135;
  --color-default-primary-b: 0;
  --color-default-primary-dark-modifier: 200;
  
  --color-default-secondary-r: 115;
  --color-default-secondary-g: 220;
  --color-default-secondary-b: 255;
  --color-default-secondary-dark-modifier: 200;

  /* Customisation options (used to define primary and secondary theme colors) */
  --color-primary-r: var(--color-default-primary-r);
  --color-primary-g: var(--color-default-primary-g);
  --color-primary-b: var(--color-default-primary-b);

  --color-secondary-r: var(--color-default-secondary-r);
  --color-secondary-g: var(--color-default-secondary-g);
  --color-secondary-b: var(--color-default-secondary-b);
  
  /* Advanced theme customisation options (internal use only) */
  --color-primary-dark-modifier: var(--color-default-primary-dark-modifier);
  --color-primary-dark-r: calc(var(--color-primary-r) - var(--color-primary-dark-modifier));
  --color-primary-dark-g: calc(var(--color-primary-g) - var(--color-primary-dark-modifier));
  --color-primary-dark-b: calc(var(--color-primary-b) - var(--color-primary-dark-modifier));

  --color-secondary-dark-modifier: var(--color-default-secondary-dark-modifier);
  --color-secondary-dark-r: calc(var(--color-secondary-r) - var(--color-secondary-dark-modifier));
  --color-secondary-dark-g: calc(var(--color-secondary-g) - var(--color-secondary-dark-modifier));
  --color-secondary-dark-b: calc(var(--color-secondary-b) - var(--color-secondary-dark-modifier));

  --color-primary: rgb(var(--color-primary-r), var(--color-primary-g), var(--color-primary-b));
  --color-primary-dark: rgb(var(--color-primary-dark-r), var(--color-primary-dark-g), var(--color-primary-dark-b));

  --color-secondary: rgb(var(--color-secondary-r), var(--color-secondary-g), var(--color-secondary-b));
  --color-secondary-dark: rgb(var(--color-secondary-dark-r), var(--color-secondary-dark-g), var(--color-secondary-dark-b));

  --color-danger: rgb(252, 72, 72);
  --color-success: rgb(77, 255, 201);
  --color-info: rgb(206, 237, 255);

  --text-shift-left-color: rgba(0, 128, 0, .5);
  --text-shift-right-color: rgba(255, 0, 0, .5);

  --color-background: var(--color-primary-dark);

  --color-background-panel: rgb(var( --color-primary-dark-r), var( --color-primary-dark-g), var( --color-primary-dark-b));
  --color-background-panel-translucent: rgba(var( --color-primary-dark-r), var( --color-primary-dark-g), var( --color-primary-dark-b), .4);

  --linear-gradient-background: linear-gradient(var(--color-primary-dark), transparent);

  --color-icon: var(--color-info);
  --color-icon-focus: var(--color-secondary);

  --filter-hover-element: contrast(1.1) brightness(1.1);

    /* These are only used by the system map */
  --color-system-map-line: var(--color-info);
  --color-system-map-focus: var(--color-primary);
  --color-system-map-planet-atmosphere: #00b3f7;
  --filter-system-map-planet-not-landable: contrast(1.08);
  --filter-system-map-planet-landable: contrast(1.15) brightness(1.2);
  
  --base-font-size: 1.25rem;
  --text-shadow: 0 0 20px;

  /*
    CSS variables cant' be used with media queries, these breakpoints are
    defined here only for reference.

    Example usage:
    @media only screen and (max-width: 600px) { } // Tiny only
    @media only screen and (min-width: 599px) { } // Small and larger
    @media only screen and (max-width: 800px) { } // Small and smaller
    @media only screen and (min-width: 799px) { } // Medium and larger
    @media only screen and (max-width: 1024px) { } // Medium and smaller
    @media only screen and (min-width: 1023px) { } // Large and larger
    @media only screen and (max-width: 1280px) { } // Large and smaller
    @media only screen and (min-width: 1279px) { } // Huge only

    Where possible, instead use the screen orientation to determine layout.
    @media only screen and (orientation: portrait) {}
    @media only screen and (orientation: landscape) {}
  */

  --breakpoint-small: 600px; /* Where Small starts. Anything below this is Tiny */
  --breakpoint-medium: 800px; /* Where Medium starts. */
  --breakpoint-large: 1024px; /* Where Large starts. */
  --breakpoint-huge: 1280px; /* Where Huge starts. */
}