:root {
  /* Customisation options (used to define primary and secondary theme colors) */
  --color-primary-r: 251;
  --color-primary-g: 142;
  --color-primary-b: 0;
  --color-primary-dark-adjust: 200;
  
  --color-secondary-r: 90;
  --color-secondary-g: 210;
  --color-secondary-b: 255;
  --color-secondary-dark-factor: 180;

  /* Advanced theme customisation options (internal use only) */
  --color-primary: rgb(var(--color-primary-r), var(--color-primary-g), var(--color-primary-b));
  --color-primary-dark: rgb(calc(var(--color-primary-r) - var(--color-primary-dark-adjust)), calc(var(--color-primary-g) - var(--color-primary-dark-adjust)), calc(var(--color-primary-b) - var(--color-primary-dark-adjust)));

  --color-secondary: rgb(var(--color-secondary-r), var(--color-secondary-g), var(--color-secondary-b));
  --color-secondary-dark: rgb(calc(var(--color-secondary-r) - var(--color-secondary-dark-factor)), calc(var(--color-secondary-g) - var(--color-secondary-dark-factor)), calc(var(--color-secondary-b) - var(--color-secondary-dark-factor)));
  
  --color-danger: red;
  --color-success: lime;
  --color-info: rgb(236, 252, 255);

  --text-shift-left-color: rgba(0, 128, 0, .5);
  --text-shift-right-color: rgba(255, 0, 0, .5);

  --color-background: var(--color-primary-dark);
  --color-background-panel: rgb(calc(var(--color-primary-r) - 200), calc(var(--color-primary-g) - 200), calc(var(--color-primary-b) - 200), .4);
    /* Opaque varient of background-panel color is slightly darker to blend in better */
  --color-background-panel-dark-adjust: calc(var(--color-primary-dark-adjust) + 20);
  --color-background-panel-opaque: rgb(calc(var(--color-primary-r) - var(--color-background-panel-dark-adjust)), calc(var(--color-primary-g) - var(--color-background-panel-dark-adjust)), calc(var(--color-primary-b) - var(--color-background-panel-dark-adjust)), 1);

  --color-icon: var(--color-info);
  --color-icon-focus: var(--color-secondary);

    /* These are only used by the system map */
  --color-system-map-line: var(--color-info);
  --color-system-map-focus: var(--color-primary);
  --color-system-map-planet-atmosphere: #00b3f7;
  --filter-system-map-planet-not-landable: contrast(1.06);
  --filter-system-map-planet-landable: contrast(1.15) brightness(1.1);

  --text-shadow: 0 0 20px;

  --mobile-max-breakpoint: 600px;
  --tablet-max-breakpoint: 800px;

  --base-font-size: 1.25rem;
}