.float-right {
  float: right;
}

.float-left {
  float: left;
}

.circle {
  border-radius: 100rem !important;
}

.seperator::before {
  display: inline-block;
  padding: 0 .5rem;
  opacity: .5;
  content: '//';
  font-weight: bold;
}

@media only screen and (max-width: 799px) {
  .seperator::before {
    display: none;
  }
  .seperator {
    display: block;
  }
}


@media only screen and (max-width: 599px) {
  .hidden-small {
    display: none;
  }
}

@media only screen and (min-width: 599px) {
  .visible-small {
    display: none;
  }
}

@media only screen and (max-width: 799px) {
  .hidden-medium {
    display: none;
  }
}

@media only screen and (min-width: 799px) {
  .visible-medium {
    display: none;
  }
}


@media only screen and (max-width: 1023px) {
  .hidden-large {
    display: none;
  }
}

@media only screen and (min-width: 1023px) {
  .visible-large {
    display: none;
  }
}