/* Visual effects that apply to the entire window (e.g. flicker, CRT effect, vignette) */
html[data-fx-crt-text="true"] h1,
html[data-fx-crt-text="true"] h2,
html[data-fx-crt-text="true"] h3,
html[data-fx-crt-text="true"] h4,
html[data-fx-crt-text="true"] h5,
html[data-fx-crt-text="true"] p,
html[data-fx-crt-text="true"] li,
html[data-fx-crt-text="true"] span,
html[data-fx-crt-text="true"] button,
html[data-fx-crt-text="true"] th,
html[data-fx-crt-text="true"] td,
html[data-fx-crt-text="true"] label,
html[data-fx-crt-text="true"] svg text,
html[data-fx-crt-text="true"] .icon {
  text-shadow: 1.3px 0 1px var(--text-shift-right-color), -1.3px 0 1px var(--text-shift-left-color), 0 0 2px;
  text-shadow: 1.1px 0 1px var(--text-shift-right-color), -1.1px 0 1px var(--text-shift-left-color), 0 0 3px;
}

*[data-fx-crt-text-animated="true"],
*[data-fx-crt-text-animated="true"] h1,
*[data-fx-crt-text-animated="true"] h2,
*[data-fx-crt-text-animated="true"] h3,
*[data-fx-crt-text-animated="true"] h4,
*[data-fx-crt-text-animated="true"] h5,
*[data-fx-crt-text-animated="true"] p,
*[data-fx-crt-text-animated="true"] li,
*[data-fx-crt-text-animated="true"] span,
*[data-fx-crt-text-animated="true"] button,
*[data-fx-crt-text-animated="true"] th,
*[data-fx-crt-text-animated="true"] td,
*[data-fx-crt-text-animated="true"] label,
*[data-fx-crt-text-animated="true"] svg text,
*[data-fx-crt-text-animated="true"] .icon {
  /* Text animation is a big performance hit */
  animation: text-refraction-animation 5s infinite;
}

/*
.launcher-title *,
.inspector__title:hover,
button:hover,
td:hover,
tr:hover,
tr:hover td,
tr:hover td * {
  animation: text-refraction-animation 5s infinite;
}
*/

.crt-fx::after,
html[data-fx-crt="true"] body::after {
  /*
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 1002;
  pointer-events: none;
  animation: text-flicker-animation 5s infinite;
  */
}

.crt-fx::before,
html[data-fx-crt="true"] body::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(0, 0, 0, .03) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.04), rgba(0, 255, 0, 0.04), rgba(0, 0, 255, 0.04));
  z-index: 10010; /* 10000 and above so is on top of notifications */
  background-size: 100% 3px, 3px 100%;
  pointer-events: none;
}

.crt-fx::after,
.crt-fx::before {
  position: absolute;
}

html[data-fx-crt="true"] .layout__overlay {
  box-shadow: 0 0 1rem 1rem rgba(0,0,0,.5) inset;
  /*,  0 2rem 2rem -2rem var(--color-primary) inset;*/
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes text-refraction-animation {
  0% {
    text-shadow: 0 0 15px var(--color-primary), 0.4389924193300864px 0 1px var(--text-shift-right-color), -0.4389924193300864px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  5% {
    text-shadow: 0 0 15px var(--color-primary),2.7928974010788217px 0 1px var(--text-shift-right-color), -2.7928974010788217px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  10% {
    text-shadow: 0 0 15px var(--color-primary),0.02956275843481219px 0 1px var(--text-shift-right-color), -0.02956275843481219px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  15% {
    text-shadow: 0 0 15px var(--color-primary),0.40218538552878136px 0 1px var(--text-shift-right-color), -0.40218538552878136px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  20% {
    text-shadow: 0 0 15px var(--color-primary),3.4794037899852017px 0 1px var(--text-shift-right-color), -2.4794037899852017px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  25% {
    text-shadow: 0 0 15px var(--color-primary),1.6125630401149584px 0 1px var(--text-shift-right-color), -1.6125630401149584px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  30% {
    text-shadow: 0 0 15px var(--color-primary),0.7015590085143956px 0 1px var(--text-shift-right-color), -0.7015590085143956px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  35% {
    text-shadow: 0 0 15px var(--color-primary),2.896914047650351px 0 1px var(--text-shift-right-color), -2.896914047650351px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  40% {
    text-shadow: 0 0 15px var(--color-primary),2.870905614848819px 0 1px var(--text-shift-right-color), -2.870905614848819px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  45% {
    text-shadow: 0 0 15px var(--color-primary),2.231056963361899px 0 1px var(--text-shift-right-color), -2.231056963361899px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  50% {
    text-shadow: 0 0 15px var(--color-primary),0.08084290417898504px 0 1px var(--text-shift-right-color), -0.08084290417898504px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  55% {
    text-shadow: 0 0 15px var(--color-primary),2.3758461067427543px 0 1px var(--text-shift-right-color), -2.3758461067427543px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  60% {
    text-shadow: 0 0 15px var(--color-primary),2.202193051050636px 0 1px var(--text-shift-right-color), -2.202193051050636px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  65% {
    text-shadow: 0 0 15px var(--color-primary),2.8638780614874975px 0 1px var(--text-shift-right-color), -2.8638780614874975px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  70% {
    text-shadow: 0 0 15px var(--color-primary),0.48874025155497314px 0 1px var(--text-shift-right-color), -0.48874025155497314px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  75% {
    text-shadow: 0 0 15px var(--color-primary),1.8948491305757957px 0 1px var(--text-shift-right-color), -1.8948491305757957px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  80% {
    text-shadow: 0 0 15px var(--color-primary),0.0833037308038857px 0 1px var(--text-shift-right-color), -0.0833037308038857px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  85% {
    text-shadow: 0 0 15px var(--color-primary),0.09769827255241735px 0 1px var(--text-shift-right-color), -0.09769827255241735px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  90% {
    text-shadow: 0 0 15px var(--color-primary),2.443339761481782px 0 1px var(--text-shift-right-color), -2.443339761481782px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  95% {
    text-shadow: 0 0 15px var(--color-primary),2.1841838852799786px 0 1px var(--text-shift-right-color), -2.1841838852799786px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
  100% {
    text-shadow: 0 0 15px var(--color-primary),2.6208764473832513px 0 1px var(--text-shift-right-color), -2.6208764473832513px 0 1px var(--text-shift-left-color), 0 0 3px;
  }
}

html[data-fx-crt-text-animated]:not([data-fx-crt-text-animated="true"]) .fx-animated-text,
html:not([data-fx-crt-text-animated]) .fx-animated-text {
  overflow-x: clip !important; /* avoids clipping text shadow on y axis */
  padding-left: 2rem;
  margin-left: -2rem;
  white-space: nowrap !important;
  display: inline-block;
  width: 0;
  text-shadow: none; /* Added to text when animation starts (avoids clipping) */
  animation: fx-text-typing-animation .5s steps(15, end);
  animation-fill-mode: forwards;
}

.fx-animated-text[data-fx-order="1"] { animation-delay: .1s !important; }
.fx-animated-text[data-fx-order="2"] { animation-delay: .2s !important; }
.fx-animated-text[data-fx-order="3"] { animation-delay: .3s !important; }
.fx-animated-text[data-fx-order="4"] { animation-delay: .4s !important; }
.fx-animated-text[data-fx-order="5"] { animation-delay: .5s !important; }
.fx-animated-text[data-fx-order="6"] { animation-delay: .6s !important; }
.fx-animated-text[data-fx-order="7"] { animation-delay: .7s !important; }
.fx-animated-text[data-fx-order="8"] { animation-delay: .8s !important; }
.fx-animated-text[data-fx-order="9"] { animation-delay: .9s !important; }

.fx-fade-in {
  animation: fx-fade-in-animation .5s ease-in-out;
}

@keyframes fx-text-typing-animation {
  from { width: 0; text-shadow: var(--text-shadow); }
  to { width: 100%; text-shadow: var(--text-shadow); }
}

@keyframes fx-fade-in-animation {
  from { visibility: visible; opacity : 0; }
  to { visibility: visible; opacity: 1; }
}

@keyframes fx-flash-in-animation {
  0% {
    opacity: 1;
    background: var(--color-primary);
    color: var(--color-primary-dark);
  }
  100% { opacity: 1; }
}
