
.navigation-panel__inspector-heading,
.navigation-panel__inspector h4,
.navigation-panel__inspector h5,
.navigation-panel__inspector p,
.navigation-panel__inspector span {
  word-wrap: break-word;
  /* word-break: break-all; */
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: normal;
}

.navigation-panel__inspector-heading {
  position: relative;
  padding-left: 5rem;
}

.navigation-panel__inspector {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 21.5rem;
  transition: right .5s ease-in-out;
  z-index: 10;
}

.navigation-panel__inspector--hidden {
  right: -21.5rem;
  padding: 0;
  animation-delay: 0;
}

.navigation-panel__inspector .navigation-panel__inspector-heading .icon {
  position: absolute;
  top: -.25rem;
  left: 0;
  bottom: 0;
  width: 4rem;
  font-size: 3.5rem;
}

.navigation-panel__inspector hr {
  margin: 1.5rem 0 1rem 0;
}

.navigation-panel__inspector .percentage {
  display: inline-block;
  width: 6rem;
  text-align: right;
  margin-right: .5rem;
}

.navigation-panel__inspector-heading h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}

.navigation-panel__inspector-heading h3 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

#navigation-panel[data-view="navigation-panel__list"] .navigation-panel__map {
  display: none;
}

#navigation-panel[data-view="navigation-panel__map"] .navigation-panel__list {
  display: none;
}

.navigation-panel__list,
.navigation-panel__map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  height: 100%;
  z-index: 3;
  overflow: hidden;
  transition: right .5s ease-in-out;
}

.navigation-panel__list--inspector,
.navigation-panel__map--inspector {
  right: 22rem;
}

.navigation-panel__list {
  left: 4.5rem;
}

.navigation-panel__list .scrollable {
  padding-right: .5rem;
}

.navigation-panel__map {
  left: 0;
}

.navigation-panel__list .scrollable {
  height: 100%;
}

.navigation-panel__list table .icon {
  font-size: 2rem;
  line-height: 1rem;
  margin: 0;
  padding: .225rem 0;
}

.navigation-panel__list table .icon.system-object-icon {
  position: absolute;
  margin-left: -3rem;
}

.navigation-panel__map-foreground {
  position: absolute;
  overflow: auto;
  z-index: 10;
  width: auto;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  overflow-y: scroll;
}

.navigation-panel__map-foreground,
.navigation-panel__map-frame {
  --color-scrollbar: var(--color-primary);
}

.navigation-panel__map-foreground.scrollable::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
}

.navigation-panel__map-foreground.scrollable::-webkit-scrollbar-track {
  background-image: linear-gradient(90deg, transparent 41.67%, var(--color-scrollbar) 41.67%, var(--color-scrollbar) 50%, transparent 50%, transparent 91.67%, var(--color-scrollbar) 91.67%, var(--color-scrollbar) 100%);
}

.navigation-panel__map-background {
  --background-position-y-offset-stars: 0px;
  --background-position-y-offset-grid: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0), rgba(var(--color-primary-r), var(--color-primary-g), var(--color-primary-b), .15));
  animation: system-map-fade-in-animation 1s ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes system-map-fade-in-animation {
  0% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 / 400% no-repeat;
    opacity: .5;
  }
  100% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400% no-repeat;
    opacity: 1;
  }
}


/*
.navigation-panel__map-frame {
  position: absolute;
  top: 0;
  left: 4.5rem;
  right: .5rem;
  bottom: 3.5rem;
  pointer-events: none;
  z-index: 15;
}

.navigation-panel__map-frame-border {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border: .2rem solid var(--color-scrollbar);
  opacity: .25;
  pointer-events: none;
}

.navigation-panel__map-frame-border-top-left {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}
.navigation-panel__map-frame-border-top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.navigation-panel__map-frame-border-bottom-left {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}
.navigation-panel__map-frame-border-bottom-right {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}
*/

.navigation-panel__map-background::after {
  background-color: black;
  background-image: url(/images/textures/stars.jpg);
  background-size: 50rem;
  background-position-y: var(--background-position-y-offset-stars);
  background-image: url(/images/textures/galaxy.jpg);
  background-position: center center;
  background-size: cover;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  animation: navigation-panel__map-background-fade-in-animation 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes navigation-panel__map-background-fade-in-animation {
  from { filter: blur(2rem) brightness(200%); }
  to { filter: blur(0) brightness(50%); }
}

.navigation-panel__map-background::before {
  --color-map-background-grid: rgba(30, 30, 30, .25);
  background-image: linear-gradient(var(--color-map-background-grid) .1rem, transparent .1rem), linear-gradient(90deg, var(--color-map-background-grid) .1rem, transparent .1rem);
  background-size: 4rem 4rem;
  background-position: -1.5rem 0;
  background-position-y: var(--background-position-y-offset-grid);
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.system-map__planet-icon {
  height: 100%;
  width: 100%;
  border-radius: 10000px;
  pointer-events: none;
}

.navigation-panel__inspector-section {
  margin-bottom: 1.5rem;
}

.navigation-panel__inspector-section .icon {
  margin-right: .5rem;
  font-size: 2rem;
  line-height: 1rem;
  position: relative;
  top: .5rem;
}

.navigation-panel__inspector-section ul {
  margin-bottom: .5rem;
  margin: .5rem 0;
}

.navigation-panel__inspector-section li {
  font-size: var(--base-font-size);
  margin: .25rem 0;
}

.navigation-panel__inspector-section--location .icon {
  margin-right: .25rem;
  font-size: 1.75rem;
  line-height: 1.5rem;
  position: relative;
  top: .45rem;
  text-decoration: none !important;
}

@media only screen and (orientation: portrait), (max-width: 599px) {
  .navigation-panel__list,
  .navigation-panel__map {
    height: 100%;
    bottom: 0;
    transition: height .5s ease-in-out;
  }
  .navigation-panel__list--inspector,
  .navigation-panel__map--inspector {
    position: absolute;
    height: 50%;
    top: 0;
    bottom: 50%;
    right: 0;
  }

  .navigation-panel__inspector {
    top: 50%;
    position: absolute;
    width: 100%;
    top: calc(50% + .5rem);
    left: 0;
    right: 0;
    bottom: 0;
    transition: top .5s ease-in-out;
  }

  .navigation-panel__inspector--hidden {
    top: 100%;
    height: 0;
    padding: 0;
    overflow: hidden;
  }
}

.navigation-panel__legend .icon {
  font-size: 2rem;
  line-height: 2rem;
  position: relative;
  top: .5rem;
  margin-right: .25rem;
}

.navigation-panel__route-heading {
  padding: .5rem;
  height: 4rem;
}

@media only screen and (max-width: 799px) {
  .navigation-panel__route-heading {
    font-size: 1.75rem;
  }
}

table.navigation-panel__route-plan tbody tr.table__row--highlighted:hover td .text-info,
table.navigation-panel__route-plan tbody tr.table__row--highlighted:hover td .text-secondary,
table.navigation-panel__route-plan tbody tr.table__row--highlighted:hover td .text-danger {
  color: var(--color-secondary-dark) !important;
  text-shadow: none;
}

table.navigation-panel__route-plan tbody tr.table__row--highlight-primary-hover:hover td .text-info,
table.navigation-panel__route-plan tbody tr.table__row--highlight-primary-hover:hover td .text-secondary,
table.navigation-panel__route-plan tbody tr.table__row--highlight-primary-hover:hover td .text-danger {
  color: var(--color-primary-dark) !important;
  text-shadow: none;
}

span.text-superscript {
  vertical-align: super;
  font-size: 14px;
  font-family: "Jura", sans-serif;
}