.ship-panel {
  --height-module-panel-rem: 20;
}

.ship-panel hr {
  margin: 1.5rem 0;
}

.ship-panel__title {
  margin-bottom: .5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
  max-height: 4rem;
}

.ship-panel__horizontal-activity {
  height: 100%;
  border-left: .15rem solid #666;
  margin-left: .5rem;
  opacity: .75;
  overflow: hidden;
}

.ship-panel__horizontal-activity-marker::before {
  height: 100%;
  opacity: .75;
  border-bottom: .15rem solid #666;
  position: absolute;
  display: block;
  content: ' ';
  width: calc(100% - .5rem);
  height: .5rem;
  bottom: 0;
  left: .5rem;
  background-image: linear-gradient(90deg, #666 6.52%, transparent 6.52%, transparent 50%, #666 50%, #666 56.52%, transparent 56.52%, #000000 100%);
  background-size: 26.00px 26.00px;
}

.ship-panel__horizontal-activity--online {
  background-image: url('/images/line.png');
  background-repeat: repeat-x;
  background-position-y: 50%;
  margin-left: .5rem;
  animation: horizontal-activity-animation 10s linear infinite;
  filter: invert(1) blur(.075rem);
  opacity: .5;
}

.ship-panel__horizontal-activity--online::after {
  display: block;
  content: ' ';
  height: 100%;
  background-image: url('/images/line.png');
  background-repeat: repeat-x;
  position: relative;
  top: -5.5rem;
  background-clip: cover;
  animation: horizontal-activity-animation 6s linear infinite;
  filter: blur(.2rem);
  opacity: .75;
  transform: scaleY(-1.5);
}

.ship-panel__horizontal-activity--online::before {
  display: block;
  content: ' ';
  height: 100%;
  xbackground-size: 26.00px 26.00px;
  background-image: url('/images/line.png');
  background-repeat: repeat-x;
  background-position-y: 50%;
  background-clip: cover;
  animation: horizontal-activity-animation 18s linear infinite;
  filter: blur(.15rem);
  opacity: .65;
  transform: scaleY(-2);
}

@keyframes horizontal-activity-animation {
  0%,
  100% {
    background-position-x: 0px;
  }
  50% {

  }
  100% {
    background-position-x: 584px;
  }
}

.ship-panel__status {
  position: absolute;
  /* To avoid clipping text-shadow to left of title text */
  top: 0;
  bottom: 0;
  height: auto;
  padding-right: .5rem;
  right: 0;
  left: 4.5rem;
}


.ship-panel__status:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: .02;
  content: ' ';
  background-size: 5rem 5rem;
  background-image: url(/images/grid.svg);
}

.ship-panel__modules {
  position: absolute;
  /* To avoid clipping text-shadow to left of title text */
  top: 0;
  bottom: 0;
  height: auto;
  padding-right: .5rem;
  right: 0;
  left: 4.5rem;
}

.ship-panel__modules--module-inspector {
  bottom: 15rem;
}

.ship-panel__module-inspector {
  position: absolute;
  height: 14.5rem;
  bottom: 0;
  width: 100%;
  z-index: 20;
  transition: height .25s ease-in;
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}

.ship-panel__module-inspector > *:not(button) {
  pointer-events: none;
}

.ship-panel__module-inspector--hidden {
  height: 0;
  padding: 0;
  border-color: transparent;
  overflow: hidden;
}

@media only screen and (orientation: portrait) {
  .ship-panel__modules--module-inspector {
    bottom: 20.5rem;
  }

  .ship-panel__module-inspector {
    height: 20rem;
  }

  .ship-panel__module-inspector--hidden {
    height: 0;
  }
}



.ship-panel__ship-pip {
  height: 2rem;
  margin-top: .25rem;
}

.ship-panel__ship-pip progress {
  width: 5rem;
  height: 1.5rem !important;
  float: right;
}

.ship-panel__ship-pip progress {
  width: calc(100% - 4rem);
}

.ship-panel__ship-pip label {
  float: right;
  font-size: 1.25rem;
  margin-right: .5rem;
}

.ship-panel__ship-pip label {
  float: left;
}

.ship-panel__ship-pips {
  position: relative;
  transform: rotate(270deg);
  width: 16rem;
  top: 2.75rem;
  padding: .5rem;
}
.ship-panel__ship-pip label {
  transform: rotate(45deg);
  font-size: 1rem !important;
  position: relative;
  left: 1.5rem;
}
.ship-panel__ship-pip progress {
  height: 2rem !important;
  margin-bottom: 1rem;
}

.ship-panel__ship-pip progress {
  position: relative;
  animation: ship-panel__ship-pip-animation 3s ease-in-out infinite;
}

.ship-panel__ship-pip:nth-child(2) progress {
  animation-delay: 1.5s;
}

.ship-panel__ship-pip:nth-child(3) progress {
  animation-delay: 2s;
}

@keyframes ship-panel__ship-pip-animation {
  0%,
  100% {
    padding-right: 0;
  }
  50% {
    padding-right: .3rem;
  }
}

@media only screen and (min-width: 799px) {
  .ship-panel__ship-pips {
    left: -3rem;
  }
}

.ship-panel__ship-stats {
  width: 100%;
  margin: auto;
  border: .5rem solid transparent;
  table-layout: fixed;
}

.ship-panel__ship-stats tbody tr,
.ship-panel__ship-stats tbody tr:hover td,
.ship-panel__ship-stats tbody tr:focus td {
  background: none !important;
  color: inherit !important;
}

.ship-panel__ship-stats td {
  padding: 0 1rem 0 0;
  text-shadow: none;
}

.ship-panel__ship-stats td > .value {
  margin-bottom: .5rem;
}

.ship-panel__ship-stats td > progress,
.ship-panel__ship-stats td > span,
.ship-panel__ship-stats td > .value {
  clear: both;
  xfloat: left;
  display: block;
  text-align: center;
}

.ship-panel__module-icon {
  background: var(--color-primary-dark);
}

.ship-panel__module-section {
  width: 33%;
  float: left;
  pointer-events: none;
  font-size: var(--base-font-size) !important;
  font-weight: bold !important;
  box-sizing: border-box;
  position: relative;
}

.ship-panel__module-section .text-link {
  pointer-events: all !important;
}

@media only screen and (orientation: portrait) {
  .ship-panel__module-section {
    width: 100%;
    margin-bottom: .25rem;
  }
}

.ship-panel__module-section p {
  margin: 0.25rem 0;
}

table.table--flex-inline.table--interactive tbody tr td.ship-panel__module {
  box-shadow: 0 0 1.5rem .5rem rgba(var(--color-primary-dark-r),var(--color-primary-dark-g),var(--color-primary-dark-b),.3) inset;
}

table.table--flex-inline.table--interactive tbody tr:hover td.ship-panel__module,
table.table--flex-inline.table--interactive tbody tr:focus td.ship-panel__module {
  filter: var(--filter-hover-element);

}

table.table--flex-inline.table--interactive tbody tr.table__row--active td.ship-panel__module {
 filter: var(--filter-active-element);
}

table.table--flex-inline.table--interactive tbody tr:hover td.ship-panel__module .ship-panel__module-icon,
table.table--flex-inline.table--interactive tbody tr:focus td.ship-panel__module .ship-panel__module-icon,
table.table--flex-inline.table--interactive tbody tr.table__row--active td.ship-panel__module .ship-panel__module-icon {
  color: var(--color-primary-dark);
  background: var(--color-background-panel-translucent);
  text-shadow: none;
}

table.table--flex-inline.table--interactive tbody tr:hover td.ship-panel__module .ship-panel__engineering .icon,
table.table--flex-inline.table--interactive tbody tr:focus td.ship-panel__module .ship-panel__engineering .icon,
table.table--flex-inline.table--interactive tbody tr.table__row--active td.ship-panel__module .ship-panel__engineering .icon {
  color: var(--color-primary-dark);
  font-weight: 600;
  text-shadow: none;
}

.ship-panel .icon.icarus-terminal-engineering {
  /* This is a hack, weird spacing got introduced at some point */
  width: 2rem !important;
  display: inline-block;
  right: .25rem;
  position: relative;
}

.ship-panel__module p {
  margin-bottom: 0;
}

.ship-panel__module p:last-of-type {
  margin-bottom: 2.75rem;
}

.ship-panel__engineering {
  position: absolute;
  right: .5rem;
  bottom: 0.25rem;
  font-size: 2rem;
  line-height: 2rem;
}

.ship-panel__engineering .icon {
  font-weight: 500;
}

table.ship-panel__lights {
  top: 0;
}

@media only screen and (max-width: 799px) {
  table.ship-panel__lights {
    top: -3rem;
  }
}

table.ship-panel__lights td {
  overflow: visible;
  padding: 0 .25rem;
}

.ship-panel__light-text {
  margin-left: 2.5rem;
  display: block;
  width: 7rem;
  font-size: 1.1rem;
  line-height: 1.25rem;
  text-align: left;
  hyphens: none;
}

@media only screen and (max-width: 1023px) {
  .ship-panel__light-text {
    font-size: 1rem;
  }
}


@media only screen and (max-width: 799px) {
  .ship-panel__light-text {
    margin: auto;
    width: auto;
    padding: 0;
    line-height: 1rem;
    text-align: center;
    text-overflow: ellipsis;
    hyphens: auto;
  } 
}

@media only screen and (max-width: 599px) {
  .ship-panel__light-text {
    xfont-size: .7rem;
  }
}

.ship-panel__light--off,
.ship-panel__light--on,
.ship-panel__light--danger {
  background: var(--color-background-panel);
  color: var(--color-primary);
  display: block;
  padding: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0.5;
  border: .2rem solid var(--color-primary);
  transition: all .25s ease-in-out;
  border-radius: 10rem;
  margin-bottom: .25rem;
}

@media only screen and (max-width: 799px) {
  .ship-panel__light--off,
  .ship-panel__light--on,
  .ship-panel__light--danger {
    height: 3rem;
    width: auto;
    overflow: hidden;
    margin-bottom: 0;
  }

  .ship-panel__light--off,
  .ship-panel__light--on,
  .ship-panel__light--on::before,
  .ship-panel__light--danger,
  .ship-panel__light--danger::before,
  .ship-panel__light--danger::after {
    border-radius: .5rem !important;
  }
}

.ship-panel__light--on {
  opacity: 1;
  color: var(--color-info);
  border-color: var(--color-info);
  background-color: transparent;
  box-shadow: inset 0 0 1rem var(--color-secondary), 0 0 .25rem var(--color-secondary);
}

.ship-panel__light--on::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: var(--color-secondary);
  z-index: -1;
  opacity: .5;
  border-radius: 10rem;
}

.ship-panel__light--danger {
  opacity: 1;
  color: var(--color-danger);
  background-color: transparent;
  filter: saturate(1.8) contrast(1.5);
  box-shadow: inset 0 0 1rem var(--color-danger), 0 0 .25rem var(--color-danger);
  border-color: var(--color-danger);
}

.ship-panel__light--danger::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  opacity: .3;
  z-index: -1;
  background: var(--color-danger);
  border-radius: 10rem;
}

.ship-panel__light--danger::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  opacity: .6;
  z-index: 1;
  animation: light-blink-animation .75s ease-in-out infinite;
  box-shadow: inset 0 0 2rem black;
  border-radius: 10rem;
}

@keyframes light-blink-animation {
  50% { opacity: .5; }
}


.ship-panel__instrumentation {
  height: 38rem;
}

@media only screen and (max-width: 799px) {
  .ship-panel__instrumentation {
    height: 53rem;
  }
}

.ship-panel__navigation-instrumentation {
  position: relative;
}

@media only screen and (min-width: 799px) {
  .ship-panel__navigation-instrumentation {
    left: 2rem;
  }
}

.ship-panel__navigation-instrumentation p {
  font-size: 1rem;
}

@media only screen and (max-width: 799px) {
  .ship-panel__switches {
    margin-bottom: 2rem !important;
  }
}

.ship-panel__navigation-instrumentation.--active .dial-border {
  xanimation: ship-panel__navigation-instrumentation-animation 3s ease-in-out infinite;
  /* "glowing" animation disabled here as browser rendering bug can cause compass heading icon to "jiggle" */
  box-shadow: 0 0 1.25rem 0 rgba(255,255,255,.5);
}

@keyframes ship-panel__navigation-instrumentation-animation {
  0%,
  100% {
    box-shadow: 0 0 .5rem 0 rgba(255,255,255,.75);
  }
  50% {
    box-shadow: 0 0 1.25rem 0 rgba(255,255,255,.5);
  }
}

.ship-panel__navigation-instrumentation .dial-background {
  background: radial-gradient(var(--color-primary-dark) 1%, transparent 90%);
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  min-height: 12rem;
  min-width: 12rem;
  border-radius: 100rem;
}

.ship-panel__navigation-instrumentation .rings {
  opacity: .25;
}

.ship-panel__navigation-instrumentation.--active .rings {
  opacity: .75;
}

.ship-panel__navigation-instrumentation .ring {
  border: .5rem solid var(--color-info);
  border-radius: 100rem;
  position: absolute;
  aspect-ratio: 1/1;
  transform: rotateX(250deg);
}

.ship-panel__navigation-instrumentation.--on-board .ring {
  animation: ship-panel__navigation-instrumentation-rings-animation 3s ease-in-out infinite;
}

.ship-panel__navigation-instrumentation.--active .ring {
  box-shadow: 0 0 3rem 0 rgba(255,255,255,.5);
}

@keyframes ship-panel__navigation-instrumentation-rings-animation {
  0%,
  100% {
    transform: rotateX(250deg);
  }

  50% {
    transform: rotateX(251.5deg);
  }
}