.ship-panel {
  --height-module-panel-rem: 20;
}

.ship-panel hr {
  margin: 1.5rem 0;
}

.ship-panel__title {
  margin-bottom: .5rem;
  display: grid;
  grid-template-columns: auto 1fr;
}

.ship-panel__horizontal-activity {
  height: 100%;
  border-left: .15rem solid #666;
  margin-left: .5rem;
  opacity: .75;
}

.ship-panel__horizontal-activity::before {
  border-bottom: .15rem solid #666;
  position: absolute;
  display: block;
  content: ' ';
  width: calc(100% - .5rem);
  height: .5rem;
  bottom: 0;
  left: .5rem;
  background-image: linear-gradient(90deg, #666 6.52%, transparent 6.52%, transparent 50%, #666 50%, #666 56.52%, transparent 56.52%, #000000 100%);
  background-size: 26.00px 26.00px;
}

.ship-panel__horizontal-activity--online {
  background-image: url('/images/line.png');
  background-repeat: repeat-x;
  background-position-y: 70%;
  margin-left: .5rem;
  animation: horizontal-activity-animation-1 5s linear infinite;
}

.ship-panel__horizontal-activity--online::after {
  display: block;
  content: ' ';
  height: 100%;
  background-image: url('/images/line.png');
  background-repeat: repeat-x;
  background-position-y: 70%;
  background-clip: cover;
  animation: horizontal-activity-animation-2 15s linear infinite;
  filter: blur(.1rem);
  transform: scaleY(-1);
}


@keyframes horizontal-activity-animation-1 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 148px;
  }
}

@keyframes horizontal-activity-animation-2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 148px;
  }
}

.ship-panel__modules {
  position: absolute;
  /* To avoid clipping text-shadow to left of title text */
  top: 0;
  bottom: 0;
  height: auto;
  padding-right: .5rem;
  right: 0;
  left: 4.5rem;
}

.ship-panel__modules--module-inspector {
  bottom: 15rem;
}

.ship-panel__module-inspector {
  position: absolute;
  height: 14.5rem;
  bottom: 0;
  width: 100%;
  z-index: 20;
  transition: height .25s ease-in;
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}

.ship-panel__module-inspector > *:not(button) {
  pointer-events: none;
}

.ship-panel__module-inspector--hidden {
  height: 0;
  padding: 0;
  border-color: transparent;
  overflow: hidden;
}

@media only screen and (orientation: portrait) {
  .ship-panel__modules--module-inspector {
    bottom: 20.5rem;
  }

  .ship-panel__module-inspector {
    height: 20rem;
  }

  .ship-panel__module-inspector--hidden {
    height: 0;
  }
}


.ship-panel__ship-pips {
  position: relative;
  top: 1rem;
  padding: .5rem .5rem 0 .5rem;
}

.ship-panel__ship-pip {
  height: 2rem;
  margin-top: .25rem;
}

.ship-panel__ship-pip progress {
  width: 5rem;
  height: 1.5rem !important;
  float: right;
}

.ship-panel__ship-pip progress {
  width: calc(100% - 4rem);
}

.ship-panel__ship-pip label {
  float: right;
  font-size: 1.25rem;
  margin-right: .5rem;
}

.ship-panel__ship-pip label {
  float: left;
}

@media only screen and (min-width: 799px) {
  .ship-panel__ship-pips {
    transform: rotate(270deg);
    width: 16rem;
    top: 2.75rem;
    left: -2rem;
    padding: .5rem;
  }
  .ship-panel__ship-pip label {
    transform: rotate(45deg);
    font-size: 1rem !important;
    position: relative;
    left: 1.5rem;
  }
  .ship-panel__ship-pip progress {
    height: 2rem !important;
    margin-bottom: 1rem;
  }
}

.ship-panel__ship-stats {
  width: 100%;
  margin: auto;
  border: .5rem solid transparent;
  table-layout: fixed;
}

.ship-panel__ship-stats tbody tr,
.ship-panel__ship-stats tbody tr:hover td,
.ship-panel__ship-stats tbody tr:focus td {
  background: none !important;
  color: inherit !important;
}

.ship-panel__ship-stats td {
  padding: 0 1rem 0 0;
  text-shadow: none;
}

.ship-panel__ship-stats td > .value {
  margin-bottom: .5rem;
}

.ship-panel__ship-stats td > progress,
.ship-panel__ship-stats td > span,
.ship-panel__ship-stats td > .value {
  clear: both;
  xfloat: left;
  display: block;
  text-align: center;
}

.ship-panel__module-icon {
  background: var(--color-primary-dark);
}

.ship-panel__module-section {
  width: 33%;
  float: left;
  pointer-events: none;
  font-size: var(--base-font-size) !important;
  font-weight: bold !important;
  box-sizing: border-box;
  position: relative;
}

.ship-panel__module-section .text-link {
  pointer-events: all !important;
}

@media only screen and (orientation: portrait) {
  .ship-panel__module-section {
    width: 100%;
    margin-bottom: .25rem;
  }
}

.ship-panel__module-section p {
  margin: 0.25rem 0;
}

table.table--flex-inline.table--interactive tbody tr td.ship-panel__module {
  box-shadow: 0 0 1.5rem .5rem rgba(var(--color-primary-dark-r),var(--color-primary-dark-g),var(--color-primary-dark-b),.3) inset;
}

table.table--flex-inline.table--interactive tbody tr:hover td.ship-panel__module,
table.table--flex-inline.table--interactive tbody tr:focus td.ship-panel__module {
  filter: var(--filter-hover-element);
}

table.table--flex-inline.table--interactive tbody tr.table__row--active td.ship-panel__module {
 filter: var(--filter-active-element);
}

table.table--flex-inline.table--interactive tbody tr:hover td.ship-panel__module .ship-panel__module-icon,
table.table--flex-inline.table--interactive tbody tr:focus td.ship-panel__module .ship-panel__module-icon,
table.table--flex-inline.table--interactive tbody tr.table__row--active td.ship-panel__module .ship-panel__module-icon {
  color: var(--color-primary-dark);
  background: var(--color-background-panel-translucent);
  text-shadow: none;
}

table.table--flex-inline.table--interactive tbody tr:hover td.ship-panel__module .ship-panel__engineering .icon,
table.table--flex-inline.table--interactive tbody tr:focus td.ship-panel__module .ship-panel__engineering .icon,
table.table--flex-inline.table--interactive tbody tr.table__row--active td.ship-panel__module .ship-panel__engineering .icon {
  color: var(--color-primary-dark);
  font-weight: 600;
  text-shadow: none;
}

.ship-panel .icon.icarus-terminal-engineering {
  /* This is a hack, weird spacing got introduced at some point */
  width: 2rem !important;
  display: inline-block;
}

.ship-panel__module p {
  margin-bottom: 0;
}

.ship-panel__module p:last-of-type {
  margin-bottom: 2.75rem;
}

.ship-panel__engineering {
  position: absolute;
  right: .5rem;
  bottom: 0.25rem;
  font-size: 2rem;
  line-height: 2rem;
}

.ship-panel__engineering .icon {
  font-weight: 500;
}

table.ship-panel__lights td {
  overflow: visible;
  padding: 0 .25rem;
}

.ship-panel__light-text {
  margin-left: 3rem;
  display: block;
  width: 7rem;
  font-size: 1.1rem;
  line-height: 1.25rem;
  text-align: left;
}

@media only screen and (max-width: 799px) {
  .ship-panel__light-text {
    margin-left: 0;
    width: auto;
    text-align: center;
    line-height: 1rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 599px) {
  .ship-panel__light-text {
    font-size: .8rem;
  }
}

.ship-panel__light--off,  
.ship-panel__light--on,
.ship-panel__light--danger {
  background: var(--color-background-panel);
  color: var(--color-primary);
  display: block;
  padding: 0.25rem;
  height: 2rem;
  width: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0.5;
  border: .2rem solid var(--color-primary);
  border-radius: .25rem;
  transition: all .25s ease-in-out;
}

@media only screen and (max-width: 799px) {
  .ship-panel__light--off,
  .ship-panel__light--on,
  .ship-panel__light--danger {
    height: 3rem;
    width: auto;
    overflow: hidden;
  }
}

.ship-panel__light--on {
  opacity: 1;
  color: var(--color-info);
  border-color: var(--color-info);
  background-color: transparent;
  box-shadow: inset 0 0 1rem var(--color-secondary), 0 0 .25rem var(--color-secondary);
}

.ship-panel__light--on::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: var(--color-secondary);
  z-index: -1;
  border-radius: .25rem;
  opacity: .5;
}

.ship-panel__light--danger {
  opacity: 1;
  color: var(--color-danger);
  background-color: transparent;
  filter: saturate(1.8) contrast(1.5);
  box-shadow: inset 0 0 1rem var(--color-danger), 0 0 .25rem var(--color-danger);
  border-color: var(--color-danger);
}

.ship-panel__light--danger::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  opacity: .3;
  z-index: -1;
  border-radius: .25rem;
  background: var(--color-danger);
}

.ship-panel__light--danger::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  opacity: .6;
  z-index: 1;
  border-radius: .15rem;
  animation: light-blink-animation .75s ease-in-out infinite;
  box-shadow: inset 0 0 2rem black;
}

@keyframes light-blink-animation {
  50% { opacity: .5; }
}

.ship-panel__instrumentation {
  max-width: 100rem;
  margin: auto;
}

.ship-panel__navigation-instrumentation {
  position: relative;
}

@media only screen and (min-width: 799px) {
  .ship-panel__navigation-instrumentation {
    left: 2rem;
  }
}